openapi: 3.1.0
info:
  title: Mood Metrics API
  description: |
    The Mood Metrics API provides powerful sentiment analysis on submitted text, with optional long-term tracking and anomaly detection using feed IDs. Perfect for monitoring brand perception, social media streams, customer feedback, support tickets, or real-time news sentiment.

    <ul>
      <li>Instant sentiment classification: <strong>positive</strong>, <strong>negative</strong>, or <strong>neutral</strong></li>
      <li>Confidence scores (0.0 – 1.0) for each primary emotion</li>
      <li>Track sentiment over time</li>
      <li>Detect sentiment trends/li>
      <li>Language-agnostic – works with any UTF-8 text</li>
      <li>RESTful design with predictable resource-oriented URLs</li>
      <li>Secure, scalable, cloud-backed infrastructure</li>
    </ul>

    <hr/>

    <h3>Useful Resources</h3>
    <ul>
      <li><a href="http://wirefreethought.com/terms-of-service">API Terms of Service</a></li>
      <li>Contact: <a href="mailto:info@mood-metrics-api.dev">info@mood-metrics-api.dev</a></li>
    </ul>

  version: v1.0.0
  x-logo:
    url: logo.png
    backgroundColor: "#FFFFFF"

servers:
  - url: https://mood-metrics.p.rapidapi.com
    description: Production API endpoint (via RapidAPI)

security:
  - UserSecurity: []

tags:
  - name: analysis
    description: Submit and retrieve sentiment analysis results
  - name: encryption
    description: Provide encryption info
  - name: job
    description: Monitor and manage asynchronous processing jobs

paths:
  /analyses:
    post:
      tags:
        - analysis
      summary: Submit text for sentiment analysis
      description: |
        Submits text for sentiment analysis.

        Behavior is controlled by the **X-WFT-Async-Mode** header:

        - `true` (default): Processing is asynchronous. The API immediately returns a job ID. Use the job endpoints to monitor progress and retrieve results when complete.
        - `false`: Processing is synchronous. The API waits for the analysis to complete and returns the final sentiment analysis result in the same shape as `GET /analyses/{id}`.
      operationId: analyzeText
      parameters:
        - name: X-WFT-Async-Mode
          in: header
          required: true
          description: |
            Controls whether analysis is processed asynchronously (job-based) or synchronously.

            - `true`: Return current job metadata (jobId).
            - `false`: Block until analysis completes and return the final sentiment analysis result.
          schema:
            type: boolean
          example: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AnalyzeTextRequest'
            examples:
              single:
                summary: Analyze a single piece of text (async)
                value:
                  text: "I absolutely love this product! It's the best thing ever!"
                  feedId: acme-corp-reviews
      responses:
        '200':
          description: Analysis job created or completed result returned, depending on async mode
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/WftWsResultPayloadSentimentAnalysisJobMetadata'
                  - $ref: '#/components/schemas/WftWsResultSentimentAnalysisVoid'
              examples:
                async:
                  summary: Asynchronous mode (X-WFT-Async-Mode=true or omitted)
                  value:
                    data:
                      jobId: 3fa85f64-5717-4562-b3fc-2c963f66afa6
                    errors: []
                sync:
                  summary: Synchronous mode (X-WFT-Async-Mode=false)
                  value:
                    data:
                      feedId: acme-corp-reviews
                      sentiment: VERY_POSITIVE
                      sentimentScore: 0.94
                      emotionScores:
                        - emotion: HAPPINESS
                          score: 0.97
                        - emotion: SURPRISE
                          score: 0.41
                        - emotion: NEUTRAL
                          score: 0.02
                      rationale: Strong positive indicators including words like 'love', 'best', 'amazing'
                    errors: []

  /analyses/{id}:
    get:
      tags:
        - analysis
      summary: Retrieve completed sentiment analysis result
      description: |
        Fetches the final sentiment analysis result using the result ID obtained from a completed job.
        Includes overall sentiment, score, emotion breakdown, and rationale.
      operationId: getSentimentAnalysis
      parameters:
        - name: id
          in: path
          required: true
          description: Result ID (UUID) from a SUCCEEDED sentiment analysis job
          schema:
            type: string
            format: uuid
          example: a1b2c3d4-e5f6-7890-g1h2-i3j4k5l6m7n8
      responses:
        '200':
          description: Completed sentiment analysis result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WftWsResultSentimentAnalysisVoid'
              example:
                data:
                  feedId: acme-corp-reviews
                  sentiment: VERY_POSITIVE
                  sentimentScore: 0.94
                  emotionScores:
                    - emotion: HAPPINESS
                      score: 0.97
                    - emotion: SURPRISE
                      score: 0.41
                    - emotion: NEUTRAL
                      score: 0.02
                  rationale: Strong positive indicators including words like 'love', 'best', 'amazing'
                errors: []

  /system/jobs/{id}/status:
    get:
      tags:
        - job
      summary: Get job processing status
      description: |
        Returns the current status of an asynchronous job (PENDING, PROCESSING, SUCCEEDED, FAILED, CANCELED).
        On success, also returns the result ID.
      operationId: getJobStatus
      parameters:
        - name: id
          in: path
          required: true
          description: UUID of the job returned when the analysis was submitted
          schema:
            type: string
            format: uuid
          example: 3fa85f64-5717-4562-b3fc-2c963f66afa6
      responses:
        '200':
          description: Current job status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WftWsResultPayloadVoid'

  /system/encryption/info/public-key.pem:
    get:
      tags:
        - encryption
      operationId: getPublicKeyPem
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: string

  /system/encryption/info/certificate.pem:
    get:
      tags:
        - encryption
      operationId: getCertificatePem
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: string

  /system/encryption/info:
    get:
      tags:
        - encryption
      operationId: getEncryptionInfo
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WftWsResultPublicKeyInfoVoid'

components:
  schemas:
    AnalyzeTextRequest:
      type: object
      description: Request payload for submitting text for sentiment analysis
      required:
        - text
      properties:
        feedId:
          type: string
          description: |
            Optional identifier to group related texts. Enables long-term tracking, trend analysis,
            and anomaly detection across all items sharing the same feedId.
          example: twitter-brand-acme
        text:
          type: string
          description: The text to analyze. Must be valid UTF-8. Supports all languages.
          example: This product changed my life – highly recommend!

    Payload:
      type: object
      description: Contains the job ID returned after submission
      properties:
        jobId:
          type: string
          format: uuid
          description: Unique identifier of the created analysis job
          example: 3fa85f64-5717-4562-b3fc-2c963f66afa6

    PublicKeyInfo:
      type: object
      properties:
        certificatePem:
          type: string
        keyPem:
          type: string
        fingerprintSha256:
          type: string
        expires:
          type: string
          format: date-time

    WftError:
      type: object
      discriminator:
        propertyName: type
      required:
        - type
      properties:
        type:
          type: string
          description: Machine-readable error identifier
        message:
          type: string
          description: Human-readable error message
        details:
          type: object
          description: Additional context or validation errors

    WftWsResultPayloadVoid:
      type: object
      description: Standard success response containing a job ID
      properties:
        data:
          $ref: '#/components/schemas/Payload'
        errors:
          type: array
          items:
            $ref: '#/components/schemas/WftError'

    WftWsResultPayloadSentimentAnalysisJobMetadata:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/Payload'
        errors:
          type: array
          items:
            $ref: '#/components/schemas/WftError'
        metadata:
          $ref: '#/components/schemas/SentimentAnalysisJobMetadata'

    WftWsResultPublicKeyInfoVoid:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/PublicKeyInfo'
        errors:
          type: array
          items:
            $ref: '#/components/schemas/WftError'
        metadata: {}

    EmotionScore:
      type: object
      properties:
        emotion:
          type: string
          enum:
            - HAPPINESS
            - SADNESS
            - FEAR
            - ANGER
            - SURPRISE
            - DISGUST
            - NEUTRAL
          description: Detected primary emotion
        score:
          type: number
          format: double
          minimum: 0
          maximum: 1
          description: Confidence that this emotion is present (0.0 = not present, 1.0 = strongly present)

    SentimentAnalysis:
      type: object
      description: Complete result of sentiment analysis
      properties:
        feedId:
          type: string
          description: The feedId submitted with the request (if any)
        intent:
          type: string
          enum:
            - COMPLAINT
            - PRAISE
            - INQUIRY
            - SUGGESTION
            - REQUEST
            - NEUTRAL
            - UNKNOWN
        intentScore:
          type: number
          format: double
        sentiment:
          type: string
          enum:
            - VERY_NEGATIVE
            - NEGATIVE
            - SLIGHTLY_NEGATIVE
            - NEUTRAL
            - SLIGHTLY_POSITIVE
            - POSITIVE
            - VERY_POSITIVE
            - MIXED
            - UNCERTAIN
          description: Overall sentiment classification
        sentimentScore:
          type: number
          format: double
          minimum: -1
          maximum: 1
          description: Normalized sentiment polarity score (-1.0 = very negative, +1.0 = very positive)
        emotionScores:
          type: array
          description: Per-emotion confidence scores
          items:
            $ref: '#/components/schemas/EmotionScore'
        rationale:
          type: string
          description: Human-readable explanation of the sentiment decision (optional)
        schema:
          $ref: '#/components/schemas/Schema'
        specificData:
          $ref: '#/components/schemas/SpecificData'

    WftWsResultSentimentAnalysisVoid:
      type: object
      description: Standard wrapper for a completed sentiment analysis result
      properties:
        data:
          $ref: '#/components/schemas/SentimentAnalysis'
        errors:
          type: array
          items:
            $ref: '#/components/schemas/WftError'

    Schema:
      type: object
      properties: {}
    SpecificData:
      type: object
      properties: {}

  securitySchemes:
    UserSecurity:
      type: apiKey
      in: header
      name: X-RapidAPI-Key
      description: >-
        Your personal RapidAPI key (required in the X-RapidAPI-Key header).
        Get your key at https://rapidapi.com/wirefreethought/api/mood-metrics