openapi: 3.1.0
info:
  title: Mood Metrics API
  description: |
    The Mood Metrics API provides powerful sentiment analysis on submitted text, with optional long-term tracking and anomaly detection using feed IDs. Perfect for monitoring brand perception, social media streams, customer feedback, support tickets, or real-time news sentiment.

    <ul>
      <li>Sentiment classification
      <li>Intent classification
      <li>Confidence scores (0.0 – 1.0) for each primary emotion</li>
      <li>Language-agnostic – works with any UTF-8 text</li>
      <li>RESTful design with predictable resource-oriented URLs</li>
      <li>Secure, scalable, cloud-backed infrastructure</li>
    </ul>

    <hr/>

    <h3>Useful Resources</h3>
    <ul>
      <li><a href="http://wirefreethought.com/terms-of-service">API Terms of Service</a></li>
      <li>Contact: <a href="mailto:info@mood-metrics-api.dev">info@mood-metrics-api.dev</a></li>
    </ul>

  version: v1.0.0
  x-logo:
    url: logo.png
    backgroundColor: "#FFFFFF"

servers:
  - url: https://mood-metrics.p.rapidapi.com
    description: Production API endpoint (via RapidAPI)

tags:
  - name: analysis
    description: Standalone sentiment analysis (`/analyses`)
  - name: encryption
    description: Encryption key and certificate material
  - name: job
    description: Asynchronous processing jobs
  - name: platform-feed
    description: Platform-scoped feeds (`/platform-feeds`) and related analyses and statistics
  - name: user-feed
    description: User-scoped feeds (`/user-feeds`) and related analyses and statistics
  - name: usage
    description: |
      Usage and plan limits for feed consumption and paging (`/usage/limits/...`, including `/usage/limits/paging`).
      **Authentication is optional**; without credentials or tier-resolving headers, values reflect **deployment
      defaults** from the default access policy.

paths:
  /analyses:
    post:
      tags:
        - analysis
      summary: Submit text for sentiment analysis
      description: |
        Submits text for sentiment analysis.

        Behavior is controlled by the **X-WFT-Async-Mode** header:

        - `true` (default): Processing is asynchronous. The API immediately returns a job ID. Use the job endpoints to monitor progress and retrieve results when complete.
        - `false`: Processing is synchronous. The API waits for the analysis to complete and returns the final sentiment analysis result in the same shape as `GET /analyses/{id}`.
      operationId: analyzeTextAsync
      parameters:
        - name: X-WFT-Async-Mode
          in: header
          description: Controls whether the request is processed asynchronously (`true`, default) or synchronously (`false`).
          schema:
            $ref: '#/components/schemas/AsyncModeHeaderValue'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AnalyzeTextRequest'
            examples:
              single:
                summary: Analyze a single piece of text (async)
                value:
                  text: "I absolutely love this product! It's the best thing ever!"
      responses:
        '200':
          description: Analysis job created or completed result returned, depending on async mode
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/WftWsResultSentimentAnalysisVoid'
                  - $ref: '#/components/schemas/WftWsResultPayloadSentimentAnalysisJobMetadata'
              examples:
                async:
                  summary: Asynchronous mode (X-WFT-Async-Mode=true or omitted)
                  value:
                    data:
                      jobId: 3fa85f64-5717-4562-b3fc-2c963f66afa6
                    errors: []
                sync:
                  summary: Synchronous mode (X-WFT-Async-Mode=false)
                  value:
                    data:
                      intent: PRAISE
                      intentScore: 0.9
                      sentiment: VERY_POSITIVE
                      sentimentScore: 0.94
                      emotionScores:
                        - emotion: HAPPINESS
                          score: 0.97
                        - emotion: SURPRISE
                          score: 0.41
                        - emotion: NEUTRAL
                          score: 0.02
                      rationale: Strong positive indicators including words like 'love', 'best', 'amazing'
                    errors: []

  /analyses/{id}:
    get:
      tags:
        - analysis
      summary: Retrieve completed sentiment analysis result
      description: |
        Fetches the final sentiment analysis result using the result ID obtained from a completed job.
        Includes overall sentiment, score, emotion breakdown, and rationale.
      operationId: getSentimentAnalysis
      parameters:
        - name: id
          in: path
          required: true
          description: Result ID (UUID) from a SUCCEEDED sentiment analysis job
          schema:
            type: string
          example: a1b2c3d4-e5f6-7890-g1h2-i3j4k5l6m7n8
      responses:
        '200':
          description: Completed sentiment analysis result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WftWsResultSentimentAnalysisVoid'
              example:
                data:
                  sentiment: VERY_POSITIVE
                  sentimentScore: 0.94
                  emotionScores:
                    - emotion: HAPPINESS
                      score: 0.97
                    - emotion: SURPRISE
                      score: 0.41
                    - emotion: NEUTRAL
                      score: 0.02
                  rationale: Strong positive indicators including words like 'love', 'best', 'amazing'
                errors: []

  /platform-feeds:
    get:
      tags:
        - platform-feed
      summary: List platform feeds
      description: |
        Returns a paginated list of all platform-scoped feeds. When **`sort`** is omitted, results are ordered by feed
        **`name`** ascending, then **`id`** ascending.

        Supports pagination via `limit` and `offset`, and sorting via the `sort` parameter (allowed fields: `name`, `id`).
      operationId: listPlatformFeeds
      parameters:
        - name: limit
          in: query
          required: false
          description: Maximum number of feeds to return per page
          schema:
            type: integer
            format: int64
            default: 5
          example: 10
        - name: offset
          in: query
          required: false
          description: Number of feeds to skip before returning (for pagination)
          schema:
            type: integer
            format: int64
            default: 0
          example: 0
        - name: sort
          in: query
          required: false
          description: Sort order (e.g. `name,asc` or `id,desc`). Allowed properties are `name` and `id`.
          schema:
            type: string
          example: name,asc
      responses:
        '200':
          description: Paginated list of platform feeds
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WftWsResultPageListSentimentAnalysisFeed'
              example:
                data:
                  - id: c3d4e5f6-a7b8-9012-cdef-ab1234567890
                    name: twitter-brand-mentions
                    description: Platform-wide sentiment tracking for Twitter brand mentions
                    size: 128
                    maxSize: 5000
                errors: []
                metadata:
                  currentOffset: 0
                  totalCount: 1

  /platform-feeds/{id}:
    get:
      tags:
        - platform-feed
      summary: Retrieve a platform feed
      description: |
        Fetches the details of a platform-scoped feed by its ID, including name, description, current size, and maximum size.
      operationId: getPlatformFeed
      parameters:
        - name: id
          in: path
          required: true
          description: Unique identifier of the platform feed. May be any unique string — not required to be a UUID.
          schema:
            type: string
          example: my-unique-feed-id-123
      responses:
        '200':
          description: Platform feed details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WftWsResultSentimentAnalysisFeedVoid'
              example:
                data:
                  id: c3d4e5f6-a7b8-9012-cdef-ab1234567890
                  name: twitter-brand-mentions
                  description: Platform-wide sentiment tracking for Twitter brand mentions
                  size: 128
                  maxSize: 5000
                errors: []

  /platform-feeds/{id}/stats:
    get:
      tags:
        - platform-feed
      summary: Aggregate platform-feed statistics by time bucket
      description: |
        Returns a paginated list of time-bucketed rollups for the specified platform feed. Each item includes interval
        bounds (UTC), optional raw **sentiment** triples (**positive** / **negative** / **neutral** rollups: mean score,
        variance, sample counts), optional **sentimentDistribution** (row-mass-weighted **share** per label with approximate
        **range95** (approximate 95% share bounds) and **stdError** for shares when `basis` is `OK`), and per-**emotion** rollups for that interval.

        Query **`sentimentStats`** selects the representation: **`normalized`** (default)—`sentimentDistribution` only;
        **`raw`**—`sentiment` only; **`both`**—both. Use **granularity** for bucket size, optional **from** / **to** to bound
        the window, and **limit** / **offset** for pagination—the same semantics as the user-feed stats endpoints.
      operationId: getPlatformFeedStats
      parameters:
        - name: id
          in: path
          required: true
          description: Unique identifier of the platform feed. May be any unique string — not required to be a UUID.
          schema:
            type: string
          example: my-unique-feed-id-123
        - name: granularity
          in: query
          required: false
          description: Size of each statistical interval (UTC bucket boundaries). When omitted, defaults to your tier’s configured granularity.
          schema:
            $ref: '#/components/schemas/StatGranularity'
          example: DAY
        - name: sentimentStats
          in: query
          required: false
          description: |
            Which sentiment-shaped fields appear on each interval row (default **`normalized`**). Responses should be
            treated as varying by this parameter for HTTP caching.
          schema:
            $ref: '#/components/schemas/SentimentStatsMode'
          example: normalized
        - name: from
          in: query
          required: false
          description: |
            Inclusive start of the query window (ISO-8601 `date-time`, UTC recommended; a calendar date `YYYY-MM-DD`
            alone is interpreted as 00:00:00 UTC that day). After plan limits (max history,
            `to` cap), the server aligns the window to **granularity** UTC buckets: snapped to bucket start, then clamped
            up to the policy floor if the snap would cross it. **LIFETIME** skips this bucket expansion.
          schema:
            type: string
            format: date-time
          example: "2025-04-01T00:00:00Z"
        - name: to
          in: query
          required: false
          description: |
            Exclusive end of the query window (half-open interval). A calendar date `YYYY-MM-DD` alone is interpreted as
            00:00:00 UTC that day. After plan limits, may expand to the next UTC bucket
            boundary for **granularity** unless capped by policy (e.g. current time for non-admin). **LIFETIME** skips this
            expansion. `WEEK` buckets begin Monday 00:00 UTC; `MONTH` begins the first calendar day 00:00 UTC.
          schema:
            type: string
            format: date-time
          example: "2025-04-08T00:00:00Z"
        - name: limit
          in: query
          required: false
          description: Maximum number of interval rows to return per page
          schema:
            type: integer
            format: int64
            default: 5
          example: 10
        - name: offset
          in: query
          required: false
          description: Number of interval rows to skip before returning results
          schema:
            type: integer
            format: int64
            default: 0
          example: 0
      responses:
        '200':
          description: Paginated list of combined sentiment and emotion rollups per interval
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WftWsResultPageListFeedIntervalStats'
              examples:
                normalized_default:
                  summary: Default — `sentimentDistribution` only
                  value:
                    data:
                      - interval:
                          from: "2025-04-07T00:00:00Z"
                          to: "2025-04-08T00:00:00Z"
                        sentimentDistribution:
                          basis: OK
                          positive:
                            share: 0.42
                            range95:
                              low: 0.38
                              high: 0.46
                            stdError: 0.0204
                            sampleCount: 220
                          negative:
                            share: 0.18
                            range95:
                              low: 0.14
                              high: 0.22
                            stdError: 0.0204
                            sampleCount: 95
                          neutral:
                            share: 0.40
                            range95:
                              low: 0.36
                              high: 0.44
                            stdError: 0.0204
                            sampleCount: 197
                        emotions:
                          - emotion: HAPPINESS
                            avgScore: 0.55
                            variance: 0.04
                            sampleCount: 512
                            segmentCount: 1
                          - emotion: ANTICIPATION
                            avgScore: 0.28
                            variance: 0.07
                            sampleCount: 140
                            segmentCount: 1
                    errors: []
                    metadata:
                      currentOffset: 0
                      totalCount: 22
                raw_only:
                  summary: "`sentimentStats=raw` — raw triple only"
                  value:
                    data:
                      - interval:
                          from: "2025-04-07T00:00:00Z"
                          to: "2025-04-08T00:00:00Z"
                        sentiment:
                          positive:
                            avgScore: 0.72
                            variance: 0.04
                            sampleCount: 220
                            segmentCount: 1
                          negative:
                            avgScore: 0.18
                            variance: 0.02
                            sampleCount: 95
                            segmentCount: 1
                          neutral:
                            avgScore: 0.55
                            variance: 0.06
                            sampleCount: 197
                            segmentCount: 1
                        emotions:
                          - emotion: HAPPINESS
                            avgScore: 0.55
                            variance: 0.04
                            sampleCount: 512
                            segmentCount: 1
                    errors: []
                    metadata:
                      currentOffset: 0
                      totalCount: 22
                both:
                  summary: "`sentimentStats=both`"
                  value:
                    data:
                      - interval:
                          from: "2025-04-07T00:00:00Z"
                          to: "2025-04-08T00:00:00Z"
                        sentiment:
                          positive:
                            avgScore: 0.72
                            variance: 0.04
                            sampleCount: 220
                            segmentCount: 1
                          negative:
                            avgScore: 0.18
                            variance: 0.02
                            sampleCount: 95
                            segmentCount: 1
                          neutral:
                            avgScore: 0.55
                            variance: 0.06
                            sampleCount: 197
                            segmentCount: 1
                        sentimentDistribution:
                          basis: OK
                          positive:
                            share: 0.42
                            range95:
                              low: 0.38
                              high: 0.46
                            stdError: 0.0204
                            sampleCount: 220
                          negative:
                            share: 0.18
                            range95:
                              low: 0.14
                              high: 0.22
                            stdError: 0.0204
                            sampleCount: 95
                          neutral:
                            share: 0.40
                            range95:
                              low: 0.36
                              high: 0.44
                            stdError: 0.0204
                            sampleCount: 197
                        emotions: []
                    errors: []
                    metadata:
                      currentOffset: 0
                      totalCount: 22

  /platform-feeds/{id}/stats/emotions:
    get:
      tags:
        - platform-feed
      summary: Emotion-only statistics for a platform feed by time bucket
      description: |
        Same behavior as `GET /platform-feeds/{id}/stats`, but each row lists **emotion** rollups only—ideal when you
        plot several emotions independently across time.
      operationId: getPlatformFeedEmotionStats
      parameters:
        - name: id
          in: path
          required: true
          description: Unique identifier of the platform feed. May be any unique string — not required to be a UUID.
          schema:
            type: string
          example: my-unique-feed-id-123
        - name: granularity
          in: query
          required: false
          description: Size of each statistical interval (UTC bucket boundaries). When omitted, defaults to your tier’s configured granularity.
          schema:
            $ref: '#/components/schemas/StatGranularity'
          example: DAY
        - name: from
          in: query
          required: false
          description: |
            Inclusive start of the query window (ISO-8601 `date-time`, UTC recommended; a calendar date `YYYY-MM-DD`
            alone is interpreted as 00:00:00 UTC that day). After plan limits (max history,
            `to` cap), the server aligns the window to **granularity** UTC buckets: snapped to bucket start, then clamped
            up to the policy floor if the snap would cross it. **LIFETIME** skips this bucket expansion.
          schema:
            type: string
            format: date-time
        - name: to
          in: query
          required: false
          description: |
            Exclusive end of the query window (half-open interval). A calendar date `YYYY-MM-DD` alone is interpreted as
            00:00:00 UTC that day. After plan limits, may expand to the next UTC bucket
            boundary for **granularity** unless capped by policy (e.g. current time for non-admin). **LIFETIME** skips this
            expansion. `WEEK` buckets begin Monday 00:00 UTC; `MONTH` begins the first calendar day 00:00 UTC.
          schema:
            type: string
            format: date-time
        - name: limit
          in: query
          required: false
          description: Maximum number of interval rows to return per page
          schema:
            type: integer
            format: int64
            default: 5
        - name: offset
          in: query
          required: false
          description: Number of interval rows to skip before returning results
          schema:
            type: integer
            format: int64
            default: 0
      responses:
        '200':
          description: Paginated list of per-emotion rollups per interval
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WftWsResultPageListEmotionIntervalStats'
              example:
                data:
                  - interval:
                      from: "2025-04-07T00:00:00Z"
                      to: "2025-04-08T00:00:00Z"
                    emotions:
                      - emotion: HAPPINESS
                        avgScore: 0.62
                        variance: 0.03
                        sampleCount: 301
                        segmentCount: 1
                      - emotion: DISGUST
                        avgScore: 0.08
                        variance: 0.01
                        sampleCount: 44
                        segmentCount: 1
                errors: []
                metadata:
                  currentOffset: 0
                  totalCount: 22

  /platform-feeds/{id}/stats/sentiment:
    get:
      tags:
        - platform-feed
      summary: Sentiment-only statistics for a platform feed by time bucket
      description: |
        Same time bucketing as `GET /platform-feeds/{id}/stats`, but each row has no per-emotion array. **`sentimentStats`**
        controls whether rows include **`sentimentDistribution`** (default), raw **`sentiment`**, or **both** (see combined
        stats endpoint).
      operationId: getPlatformFeedSentimentStats
      parameters:
        - name: id
          in: path
          required: true
          description: Unique identifier of the platform feed. May be any unique string — not required to be a UUID.
          schema:
            type: string
          example: my-unique-feed-id-123
        - name: granularity
          in: query
          required: false
          description: Size of each statistical interval (UTC bucket boundaries). When omitted, defaults to your tier’s configured granularity.
          schema:
            $ref: '#/components/schemas/StatGranularity'
          example: MONTH
        - name: sentimentStats
          in: query
          required: false
          description: Same as combined stats — default **`normalized`** (`sentimentDistribution` only).
          schema:
            $ref: '#/components/schemas/SentimentStatsMode'
          example: normalized
        - name: from
          in: query
          required: false
          description: |
            Inclusive start of the query window (ISO-8601 `date-time`, UTC recommended; a calendar date `YYYY-MM-DD`
            alone is interpreted as 00:00:00 UTC that day). After plan limits (max history,
            `to` cap), the server aligns the window to **granularity** UTC buckets: snapped to bucket start, then clamped
            up to the policy floor if the snap would cross it. **LIFETIME** skips this bucket expansion.
          schema:
            type: string
            format: date-time
        - name: to
          in: query
          required: false
          description: |
            Exclusive end of the query window (half-open interval). A calendar date `YYYY-MM-DD` alone is interpreted as
            00:00:00 UTC that day. After plan limits, may expand to the next UTC bucket
            boundary for **granularity** unless capped by policy (e.g. current time for non-admin). **LIFETIME** skips this
            expansion. `WEEK` buckets begin Monday 00:00 UTC; `MONTH` begins the first calendar day 00:00 UTC.
          schema:
            type: string
            format: date-time
        - name: limit
          in: query
          required: false
          description: Maximum number of interval rows to return per page
          schema:
            type: integer
            format: int64
            default: 5
        - name: offset
          in: query
          required: false
          description: Number of interval rows to skip before returning results
          schema:
            type: integer
            format: int64
            default: 0
      responses:
        '200':
          description: Paginated list of sentiment rollups per interval
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WftWsResultPageListSentimentIntervalStats'
              examples:
                normalized_default:
                  summary: Default — distribution only
                  value:
                    data:
                      - interval:
                          from: "2025-03-01T00:00:00Z"
                          to: "2025-04-01T00:00:00Z"
                        sentimentDistribution:
                          basis: OK
                          positive:
                            share: 0.35
                            range95:
                              low: 0.31
                              high: 0.39
                            stdError: 0.0204
                            sampleCount: 1200
                          negative:
                            share: 0.22
                            range95:
                              low: 0.18
                              high: 0.26
                            stdError: 0.0204
                            sampleCount: 800
                          neutral:
                            share: 0.43
                            range95:
                              low: 0.39
                              high: 0.47
                            stdError: 0.0204
                            sampleCount: 600
                    errors: []
                    metadata:
                      currentOffset: 0
                      totalCount: 3
                raw_only:
                  summary: Raw triple
                  value:
                    data:
                      - interval:
                          from: "2025-03-01T00:00:00Z"
                          to: "2025-04-01T00:00:00Z"
                        sentiment:
                          positive:
                            avgScore: 0.58
                            variance: 0.05
                            sampleCount: 1200
                            segmentCount: 1
                          negative:
                            avgScore: 0.22
                            variance: 0.03
                            sampleCount: 800
                            segmentCount: 1
                          neutral:
                            avgScore: 0.48
                            variance: 0.08
                            sampleCount: 2021
                            segmentCount: 1
                    errors: []
                    metadata:
                      currentOffset: 0
                      totalCount: 3

  /usage/limits/paging:
    get:
      tags:
        - usage
      summary: Maximum page size (limit) for collection paging
      description: |
        Returns **`maxAllowedPageSize`** from the resolved access policy—the maximum **`limit`** query parameter value
        accepted on paged collection endpoints when max page-size policy is enabled server-side.

        **Authentication is optional.** Unauthenticated requests use the **default** access policy when no tier-specific
        resolvers match request headers.
      operationId: getPagingUsageLimits
      security: []
      responses:
        '200':
          description: Plan limit for paged query size
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WftWsResultPagingUsageLimitsVoid'
              example:
                data:
                  maxAllowedPageSize: 10
                errors: []

  /usage/limits/feed:
    get:
      tags:
        - usage
      summary: Combined feed usage limits for your plan
      description: |
        Returns **`maxHistoryDays`** and **`allowedGranularities`** from the resolved access policy in one response—the
        same values as `GET /usage/limits/feed/history` and `GET /usage/limits/feed/granularity`.

        **Authentication is optional.** Unauthenticated requests use the **default** access policy when no tier-specific
        resolvers match request headers.

        **Admin:** values reflect **configured plan metadata**; admins may still query outside these bounds where the API
        allows.
      operationId: getFeedUsageLimits
      security: []
      responses:
        '200':
          description: Combined feed history and granularity limits
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WftWsResultFeedUsageLimitsVoid'
              example:
                data:
                  maxHistoryDays: 30
                  allowedGranularities:
                    - DAY
                    - LIFETIME
                errors: []

  /usage/limits/feed/history:
    get:
      tags:
        - usage
      summary: Maximum feed history window (days) for your plan
      description: |
        Returns **`maxHistoryDays`** from the resolved access policy—the same cap applied to feed-backed reads and
        statistics time windows for **non-admin** principals. **`maxHistoryDays <= 0`** means unlimited lookback (still
        subject to other policy caps such as “to” not beyond now).

        **Authentication is optional.** Unauthenticated requests use the **default** access policy when no tier-specific
        resolvers match request headers.

        **Admin:** this endpoint reflects **configured plan metadata**; admins may still query outside these bounds where
        the API allows (e.g. broader history on stats).
      operationId: getFeedUsageLimitsHistory
      security: []
      responses:
        '200':
          description: Plan limit for feed history window
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WftWsResultFeedMaxHistoryLimitsVoid'
              example:
                data:
                  maxHistoryDays: 30
                errors: []

  /usage/limits/feed/granularity:
    get:
      tags:
        - usage
      summary: Allowed stat granularities for your plan
      description: |
        Returns **`allowedGranularities`** from the resolved access policy—the same allowlist enforced for **non-admin**
        feed statistics queries.

        **Authentication is optional**; anonymous callers receive **default** deployment limits.

        **Admin:** this list reflects plan configuration; admins may still request granularities **outside** this list on
        stats endpoints where the API grants an admin bypass.
      operationId: getFeedUsageLimitsGranularity
      security: []
      responses:
        '200':
          description: Allowed stat granularities for feed consumption
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WftWsResultFeedAllowedGranularitiesLimitsVoid'
              example:
                data:
                  allowedGranularities:
                    - DAY
                    - WEEK
                    - MONTH
                    - LIFETIME
                errors: []

  /system/encryption/info:
    get:
      tags:
        - encryption
      summary: Retrieve encryption metadata
      description: |
        Returns metadata about the platform's current encryption configuration, including the public key,
        certificate, SHA-256 fingerprint, and key expiration date.
      operationId: getEncryptionInfo
      responses:
        '200':
          description: Encryption configuration metadata
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WftWsResultPublicKeyInfoVoid'
              example:
                data:
                  keyPem: "-----BEGIN PUBLIC KEY-----\nMIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8A...\n-----END PUBLIC KEY-----"
                  certificatePem: "-----BEGIN CERTIFICATE-----\nMIIDdzCCAl+gAwIBAgIEbGlua0ANBQ...\n-----END CERTIFICATE-----"
                  fingerprintSha256: "AB:CD:EF:12:34:56:78:90:AB:CD:EF:12:34:56:78:90:AB:CD:EF:12:34:56:78:90:AB:CD:EF:12:34:56:78:90"
                  expires: "2026-12-31T23:59:59Z"
                errors: []

  /system/encryption/info/certificate.pem:
    get:
      tags:
        - encryption
      summary: Download the certificate in PEM format
      description: |
        Returns the platform's current X.509 certificate in PEM-encoded format. The certificate
        can be used to verify the identity of the API and validate signed responses.
      operationId: getCertificatePem
      responses:
        '200':
          description: PEM-encoded certificate
          content:
            text/plain:
              schema:
                type: string
              example: |
                -----BEGIN CERTIFICATE-----
                MIIDdzCCAl+gAwIBAgIEbGlua0ANBQ...
                -----END CERTIFICATE-----

  /system/encryption/info/public-key.pem:
    get:
      tags:
        - encryption
      summary: Download the public key in PEM format
      description: |
        Returns the platform's current RSA public key in PEM-encoded format. Use this key to encrypt
        sensitive payloads before submitting them to the API.
      operationId: getPublicKeyPem
      responses:
        '200':
          description: PEM-encoded public key
          content:
            text/plain:
              schema:
                type: string
              example: |
                -----BEGIN PUBLIC KEY-----
                MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEA...
                -----END PUBLIC KEY-----

  /system/jobs/{id}:
    get:
      tags:
        - job
      summary: Retrieve full job details
      description: |
        Returns the complete state of an asynchronous job, including status, owner information,
        progress tracking, and result ID (if the job has succeeded).
      operationId: getJob
      parameters:
        - name: id
          in: path
          required: true
          description: UUID of the job returned when the analysis was submitted
          schema:
            type: string
          example: 3fa85f64-5717-4562-b3fc-2c963f66afa6
      responses:
        '200':
          description: Full job state details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WftWsResultSysJobStateVoid'
              example:
                data:
                  type: SENTIMENT_ANALYSIS
                  resultId: a1b2c3d4-e5f6-7890-g1h2-i3j4k5l6m7n8
                  status: SUCCEEDED
                  owner:
                    tenantId: tenant-001
                    userId: user-abc
                  progressTracking:
                    overallProgress:
                      percentCompleted: 100.0
                errors: []

  /system/jobs/{id}/status:
    get:
      tags:
        - job
      summary: Get job processing status
      description: |
        Returns the current status of an asynchronous job (PENDING, PROCESSING, SUCCEEDED, FAILED, CANCELED).
        On success, also returns the result ID.
      operationId: getJobStatus
      parameters:
        - name: id
          in: path
          required: true
          description: UUID of the job returned when the analysis was submitted
          schema:
            type: string
          example: 3fa85f64-5717-4562-b3fc-2c963f66afa6
      responses:
        '200':
          description: Current job status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WftWsResultPayloadVoid'
              examples:
                pending:
                  summary: Job is still pending
                  value:
                    data:
                      jobId: 3fa85f64-5717-4562-b3fc-2c963f66afa6
                    errors: []
                succeeded:
                  summary: Job has completed successfully
                  value:
                    data:
                      jobId: 3fa85f64-5717-4562-b3fc-2c963f66afa6
                    errors: []

  /user-feeds:
    get:
      tags:
        - user-feed
      summary: List user feeds
      description: |
        Returns a paginated list of sentiment analysis feeds owned by the authenticated user in the current tenant.
        When **`sort`** is omitted, results are ordered by feed **`name`** ascending, then **`id`** ascending.

        Supports pagination via `limit` and `offset`, and sorting via the `sort` parameter (allowed fields: `name`, `id`).
      operationId: listUserFeeds
      parameters:
        - name: limit
          in: query
          required: false
          description: Maximum number of feeds to return per page
          schema:
            type: integer
            format: int64
            default: 5
          example: 10
        - name: offset
          in: query
          required: false
          description: Number of feeds to skip before returning (for pagination)
          schema:
            type: integer
            format: int64
            default: 0
          example: 0
        - name: sort
          in: query
          required: false
          description: Sort order (e.g. `name,asc` or `id,desc`). Allowed properties are `name` and `id`.
          schema:
            type: string
          example: name,asc
      responses:
        '200':
          description: Paginated list of user feeds for the authenticated principal
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WftWsResultPageListSentimentAnalysisFeed'
              example:
                data:
                  - id: f1a2b3c4-d5e6-7890-abcd-ef1234567890
                    name: acme-product-reviews
                    description: Sentiment tracking for Acme Corp product reviews
                    size: 42
                    maxSize: 1000
                errors: []
                metadata:
                  currentOffset: 0
                  totalCount: 1
    post:
      tags:
        - user-feed
      summary: Create a new user feed
      description: |
        Creates a new user-scoped sentiment analysis feed. Feeds allow you to group related analyses
        together for long-term tracking, trend analysis, and anomaly detection.
      operationId: createUserFeed
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateFeedRequest'
            examples:
              basic:
                summary: Create a feed for tracking brand reviews
                value:
                  name: acme-product-reviews
                  description: Sentiment tracking for Acme Corp product reviews
                  maxSize: 1000
      responses:
        '200':
          description: User feed created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WftWsResultSentimentAnalysisFeedVoid'
              example:
                data:
                  id: f1a2b3c4-d5e6-7890-abcd-ef1234567890
                  name: acme-product-reviews
                  description: Sentiment tracking for Acme Corp product reviews
                  size: 0
                  maxSize: 1000
                errors: []

  /user-feeds/{id}:
    get:
      tags:
        - user-feed
      summary: Retrieve a user feed
      description: |
        Fetches the details of a user-scoped feed by its ID, including name, description, current size, and maximum size.
      operationId: getUserFeed
      parameters:
        - name: id
          in: path
          required: true
          description: Unique identifier of the user feed. May be any unique string — not required to be a UUID.
          schema:
            type: string
          example: my-unique-feed-id-456
      responses:
        '200':
          description: User feed details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WftWsResultSentimentAnalysisFeedVoid'
              example:
                data:
                  id: f1a2b3c4-d5e6-7890-abcd-ef1234567890
                  name: acme-product-reviews
                  description: Sentiment tracking for Acme Corp product reviews
                  size: 42
                  maxSize: 1000
                errors: []
    put:
      tags:
        - user-feed
      summary: Update a user feed
      description: |
        Updates the mutable properties of a user-scoped feed. Currently supports updating the feed description.
      operationId: updateUserFeed
      parameters:
        - name: id
          in: path
          required: true
          description: Unique identifier of the user feed. May be any unique string — not required to be a UUID.
          schema:
            type: string
          example: my-unique-feed-id-456
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateFeedRequest'
            examples:
              updateDescription:
                summary: Update the feed description
                value:
                  description: Updated sentiment tracking for Acme Corp product reviews (Q2 2025)
      responses:
        '200':
          description: User feed updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WftWsResultSentimentAnalysisFeedVoid'
              example:
                data:
                  id: f1a2b3c4-d5e6-7890-abcd-ef1234567890
                  name: acme-product-reviews
                  description: Updated sentiment tracking for Acme Corp product reviews (Q2 2025)
                  size: 42
                  maxSize: 1000
                errors: []

  /user-feeds/{id}/analyses:
    get:
      tags:
        - user-feed
      summary: List analyses for a user feed
      description: |
        Returns a paginated list of sentiment analysis results associated with the specified user feed.
        Supports pagination via `limit` and `offset`, sorting via `sort`, and optional `from` / `to` on `inputTimestamp`
        (subject to your tier’s maximum history window).
      operationId: getUserFeedAnalyses
      parameters:
        - name: id
          in: path
          required: true
          description: Unique identifier of the user feed. May be any unique string — not required to be a UUID.
          schema:
            type: string
          example: my-unique-feed-id-456
        - name: limit
          in: query
          required: false
          description: Maximum number of results to return per page
          schema:
            type: integer
            format: int64
            default: 5
          example: 10
        - name: offset
          in: query
          required: false
          description: Number of results to skip before returning (for pagination)
          schema:
            type: integer
            format: int64
            default: 0
          example: 0
        - name: sort
          in: query
          required: false
          description: Sort order for results (e.g., `sentimentScore,desc`)
          schema:
            type: string
          example: sentimentScore,desc
        - name: from
          in: query
          required: false
          description: |
            Inclusive lower bound on analysis `inputTimestamp` (ISO-8601 instant, or calendar date `YYYY-MM-DD` as
            00:00:00 UTC); window is clamped to your tier’s max history.
          schema:
            type: string
            format: date-time
        - name: to
          in: query
          required: false
          description: |
            Inclusive upper bound on analysis `inputTimestamp` (ISO-8601 instant, or calendar date `YYYY-MM-DD` as
            00:00:00 UTC)
          schema:
            type: string
            format: date-time
      responses:
        '200':
          description: Paginated list of sentiment analysis results for the user feed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WftWsResultPageListSentimentAnalysis'
              example:
                data:
                  - id: a1b2c3d4-e5f6-7890-g1h2-i3j4k5l6m7n8
                    sentiment: VERY_POSITIVE
                    sentimentScore: 0.94
                    emotionScores:
                      - emotion: HAPPINESS
                        score: 0.97
                    rationale: Strong positive indicators
                  - id: b2c3d4e5-f6a7-8901-h2i3-j4k5l6m7n8o9
                    sentiment: NEGATIVE
                    sentimentScore: -0.65
                    emotionScores:
                      - emotion: ANGER
                        score: 0.72
                    rationale: Negative language detected
                errors: []
                metadata:
                  currentOffset: 0
                  totalCount: 42
    post:
      tags:
        - user-feed
      summary: Submit text for analysis within a user feed
      description: |
        Submits text for sentiment analysis and associates the result with the specified user feed.

        Behavior is controlled by the **X-WFT-Async-Mode** header:

        - `true` (default): Processing is asynchronous. The API immediately returns a job ID.
        - `false`: Processing is synchronous. The API waits for the analysis to complete and returns the final result.
      operationId: analyzeTextForUserFeedAsync
      parameters:
        - name: id
          in: path
          required: true
          description: Unique identifier of the user feed. May be any unique string — not required to be a UUID.
          schema:
            type: string
          example: my-unique-feed-id-456
        - name: X-WFT-Async-Mode
          in: header
          description: Controls whether the request is processed asynchronously (`true`, default) or synchronously (`false`).
          schema:
            $ref: '#/components/schemas/AsyncModeHeaderValue'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AnalyzeTextRequest'
            examples:
              feedAnalysis:
                summary: Analyze text within a user feed
                value:
                  text: "The customer support was unhelpful and rude."
      responses:
        '200':
          description: Analysis job created or completed result returned, depending on async mode
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/WftWsResultSentimentAnalysisVoid'
                  - $ref: '#/components/schemas/WftWsResultPayloadSentimentAnalysisJobMetadata'
              examples:
                async:
                  summary: Asynchronous mode (X-WFT-Async-Mode=true or omitted)
                  value:
                    data:
                      jobId: 4ab95f64-6817-4562-c3fc-3d963f77bfb7
                    errors: []
                sync:
                  summary: Synchronous mode (X-WFT-Async-Mode=false)
                  value:
                    data:
                      intent: COMPLAINT
                      intentScore: 0.88
                      sentiment: NEGATIVE
                      sentimentScore: -0.78
                      emotionScores:
                        - emotion: ANGER
                          score: 0.82
                        - emotion: DISGUST
                          score: 0.45
                      rationale: Negative indicators including 'unhelpful' and 'rude'
                    errors: []

  /user-feeds/{id}/analyses/{analysisId}:
    delete:
      tags:
        - user-feed
      summary: Delete an analysis from a user feed
      description: |
        Removes a specific sentiment analysis result from the specified user feed. This operation is irreversible.
      operationId: deleteUserFeedAnalysis
      parameters:
        - name: id
          in: path
          required: true
          description: Unique identifier of the user feed. May be any unique string — not required to be a UUID.
          schema:
            type: string
          example: my-unique-feed-id-456
        - name: analysisId
          in: path
          required: true
          description: Unique identifier (UUID) of the analysis result to delete
          schema:
            type: string
          example: a1b2c3d4-e5f6-7890-g1h2-i3j4k5l6m7n8
      responses:
        '200':
          description: Analysis deleted successfully
          content:
            '*/*':
              schema:
                type: object
              example: {}

  /user-feeds/{id}/stats:
    get:
      tags:
        - user-feed
      summary: Aggregate user-feed statistics by time bucket
      description: |
        Returns a paginated list of time-bucketed rollups for the specified user feed. Each item includes interval bounds
        (UTC), optional raw **sentiment** triples and/or **sentimentDistribution** (normalized shares + **range95** / **stdError**), and per-**emotion**
        rollups. Query **`sentimentStats`** selects the representation (default **`normalized`**)—same semantics as platform
        combined stats.

        Bucket boundaries are controlled by **granularity** (`HOUR`, `DAY`, `WEEK`, `MONTH`, or `LIFETIME`). Use optional
        **from** and **to** (`date-time`) to limit the window; use **limit** and **offset** to page through intervals.
      operationId: getUserFeedStats
      parameters:
        - name: id
          in: path
          required: true
          description: Unique identifier of the user feed. May be any unique string — not required to be a UUID.
          schema:
            type: string
          example: my-unique-feed-id-456
        - name: granularity
          in: query
          required: false
          description: Size of each statistical interval (UTC bucket boundaries). When omitted, defaults to your tier’s configured granularity.
          schema:
            $ref: '#/components/schemas/StatGranularity'
          example: DAY
        - name: sentimentStats
          in: query
          required: false
          description: Same as `GET /platform-feeds/{id}/stats` (default **`normalized`**).
          schema:
            $ref: '#/components/schemas/SentimentStatsMode'
          example: normalized
        - name: from
          in: query
          required: false
          description: |
            Inclusive start of the query window (ISO-8601 `date-time`, UTC recommended; a calendar date `YYYY-MM-DD`
            alone is interpreted as 00:00:00 UTC that day). Omit to begin at the oldest
            available data. After plan limits, the server aligns the window to **granularity** UTC buckets: snapped to
            bucket start, then clamped up to the policy floor if the snap would cross it. **LIFETIME** skips this bucket
            expansion.
          schema:
            type: string
            format: date-time
          example: "2025-04-01T00:00:00Z"
        - name: to
          in: query
          required: false
          description: |
            Exclusive end of the query window (half-open interval). A calendar date `YYYY-MM-DD` alone is interpreted as
            00:00:00 UTC that day. Omit to use the latest available data. After plan
            limits, may expand to the next UTC bucket boundary for **granularity** unless capped by policy (e.g. current
            time for non-admin). **LIFETIME** skips this expansion. `WEEK` = Monday 00:00 UTC; `MONTH` = first calendar day
            00:00 UTC.
          schema:
            type: string
            format: date-time
          example: "2025-04-08T00:00:00Z"
        - name: limit
          in: query
          required: false
          description: Maximum number of interval rows to return per page
          schema:
            type: integer
            format: int64
            default: 5
          example: 10
        - name: offset
          in: query
          required: false
          description: Number of interval rows to skip before returning results
          schema:
            type: integer
            format: int64
            default: 0
          example: 0
      responses:
        '200':
          description: Paginated list of combined sentiment and emotion rollups per interval
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WftWsResultPageListFeedIntervalStats'
              example:
                data:
                  - interval:
                      from: "2025-04-07T00:00:00Z"
                      to: "2025-04-08T00:00:00Z"
                    sentimentDistribution:
                      basis: OK
                      positive:
                        share: 0.41
                        range95:
                          low: 0.37
                          high: 0.45
                        stdError: 0.0204
                        sampleCount: 220
                      negative:
                        share: 0.19
                        range95:
                          low: 0.15
                          high: 0.23
                        stdError: 0.0204
                        sampleCount: 95
                      neutral:
                        share: 0.40
                        range95:
                          low: 0.36
                          high: 0.44
                        stdError: 0.0204
                        sampleCount: 197
                    emotions:
                      - emotion: HAPPINESS
                        avgScore: 0.61
                        variance: 0.04
                        sampleCount: 48
                        segmentCount: 1
                      - emotion: ANGER
                        avgScore: 0.11
                        variance: 0.02
                        sampleCount: 12
                        segmentCount: 1
                errors: []
                metadata:
                  currentOffset: 0
                  totalCount: 14

  /user-feeds/{id}/stats/emotions:
    get:
      tags:
        - user-feed
      summary: Emotion-only statistics for a user feed by time bucket
      description: |
        Same time bucketing and query parameters as `GET /user-feeds/{id}/stats`, but each item lists **emotion** rollups
        only (no combined sentiment summary object). Use this when building per-emotion trend charts.
      operationId: getUserFeedEmotionStats
      parameters:
        - name: id
          in: path
          required: true
          description: Unique identifier of the user feed. May be any unique string — not required to be a UUID.
          schema:
            type: string
          example: my-unique-feed-id-456
        - name: granularity
          in: query
          required: false
          description: Size of each statistical interval (UTC bucket boundaries). When omitted, defaults to your tier’s configured granularity.
          schema:
            $ref: '#/components/schemas/StatGranularity'
          example: HOUR
        - name: from
          in: query
          required: false
          description: |
            Inclusive start of the query window (ISO-8601 `date-time`, UTC recommended; a calendar date `YYYY-MM-DD`
            alone is interpreted as 00:00:00 UTC that day). After plan limits (max history,
            `to` cap), the server aligns the window to **granularity** UTC buckets: snapped to bucket start, then clamped
            up to the policy floor if the snap would cross it. **LIFETIME** skips this bucket expansion.
          schema:
            type: string
            format: date-time
          example: "2025-04-07T12:00:00Z"
        - name: to
          in: query
          required: false
          description: |
            Exclusive end of the query window (half-open interval). A calendar date `YYYY-MM-DD` alone is interpreted as
            00:00:00 UTC that day. After plan limits, may expand to the next UTC bucket
            boundary for **granularity** unless capped by policy (e.g. current time for non-admin). **LIFETIME** skips this
            expansion. `WEEK` buckets begin Monday 00:00 UTC; `MONTH` begins the first calendar day 00:00 UTC.
          schema:
            type: string
            format: date-time
          example: "2025-04-07T18:00:00Z"
        - name: limit
          in: query
          required: false
          description: Maximum number of interval rows to return per page
          schema:
            type: integer
            format: int64
            default: 5
          example: 24
        - name: offset
          in: query
          required: false
          description: Number of interval rows to skip before returning results
          schema:
            type: integer
            format: int64
            default: 0
          example: 0
      responses:
        '200':
          description: Paginated list of per-emotion rollups per interval
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WftWsResultPageListEmotionIntervalStats'
              example:
                data:
                  - interval:
                      from: "2025-04-07T12:00:00Z"
                      to: "2025-04-07T13:00:00Z"
                    emotions:
                      - emotion: HAPPINESS
                        avgScore: 0.58
                        variance: 0.03
                        sampleCount: 22
                        segmentCount: 1
                      - emotion: SURPRISE
                        avgScore: 0.21
                        variance: 0.11
                        sampleCount: 9
                        segmentCount: 1
                errors: []
                metadata:
                  currentOffset: 0
                  totalCount: 12

  /user-feeds/{id}/stats/sentiment:
    get:
      tags:
        - user-feed
      summary: Sentiment-only statistics for a user feed by time bucket
      description: |
        Same time bucketing as `GET /user-feeds/{id}/stats`, but each row has no per-emotion breakdown. **`sentimentStats`**
        selects **`sentimentDistribution`** (default), raw **`sentiment`**, or **both**.
      operationId: getUserFeedSentimentStats
      parameters:
        - name: id
          in: path
          required: true
          description: Unique identifier of the user feed. May be any unique string — not required to be a UUID.
          schema:
            type: string
          example: my-unique-feed-id-456
        - name: granularity
          in: query
          required: false
          description: Size of each statistical interval (UTC bucket boundaries). When omitted, defaults to your tier’s configured granularity.
          schema:
            $ref: '#/components/schemas/StatGranularity'
          example: WEEK
        - name: sentimentStats
          in: query
          required: false
          description: Same as combined user-feed stats (default **`normalized`**).
          schema:
            $ref: '#/components/schemas/SentimentStatsMode'
          example: normalized
        - name: from
          in: query
          required: false
          description: |
            Inclusive start of the query window (ISO-8601 `date-time`, UTC recommended; a calendar date `YYYY-MM-DD`
            alone is interpreted as 00:00:00 UTC that day). After plan limits (max history,
            `to` cap), the server aligns the window to **granularity** UTC buckets: snapped to bucket start, then clamped
            up to the policy floor if the snap would cross it. **LIFETIME** skips this bucket expansion.
          schema:
            type: string
            format: date-time
          example: "2025-03-01T00:00:00Z"
        - name: to
          in: query
          required: false
          description: |
            Exclusive end of the query window (half-open interval). A calendar date `YYYY-MM-DD` alone is interpreted as
            00:00:00 UTC that day. After plan limits, may expand to the next UTC bucket
            boundary for **granularity** unless capped by policy (e.g. current time for non-admin). **LIFETIME** skips this
            expansion. `WEEK` buckets begin Monday 00:00 UTC; `MONTH` begins the first calendar day 00:00 UTC.
          schema:
            type: string
            format: date-time
          example: "2025-04-01T00:00:00Z"
        - name: limit
          in: query
          required: false
          description: Maximum number of interval rows to return per page
          schema:
            type: integer
            format: int64
            default: 5
          example: 5
        - name: offset
          in: query
          required: false
          description: Number of interval rows to skip before returning results
          schema:
            type: integer
            format: int64
            default: 0
          example: 0
      responses:
        '200':
          description: Paginated list of sentiment rollups per interval
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WftWsResultPageListSentimentIntervalStats'
              example:
                data:
                  - interval:
                      from: "2025-03-24T00:00:00Z"
                      to: "2025-03-31T00:00:00Z"
                    sentimentDistribution:
                      basis: OK
                      positive:
                        share: 0.36
                        range95:
                          low: 0.32
                          high: 0.40
                        stdError: 0.0204
                        sampleCount: 180
                      negative:
                        share: 0.24
                        range95:
                          low: 0.20
                          high: 0.28
                        stdError: 0.0204
                        sampleCount: 120
                      neutral:
                        share: 0.40
                        range95:
                          low: 0.36
                          high: 0.44
                        stdError: 0.0204
                        sampleCount: 200
                errors: []
                metadata:
                  currentOffset: 0
                  totalCount: 6

components:
  schemas:
    AnalysisDomain:
      type: string
      description: |
        Selects the sentiment analysis model and output shape for this request.

        - **GENERAL** (default when omitted): Full analysis—sentiment label, confidence, primary emotions, rationale,
          and intent. Use for social posts, reviews, support tickets, and general text.
        - **FINANCIAL_NEWS**: Polarity-focused output for market tone (e.g. earnings, upgrades). Returns only sentiment
          label and confidence; emotions, rationale, and intent are omitted.
      enum:
        - GENERAL
        - FINANCIAL_NEWS

    AsyncModeHeaderValue:
      type: string
      description: |
        Value for the `X-WFT-Async-Mode` header on analysis `POST` operations that map to the async controller variant.
        Send **`true`** to request asynchronous processing (initial response contains a job id; poll job endpoints for results).
        For synchronous processing, omit this header or call the operation variant documented for synchronous bodies—see each path’s description.
      enum:
        - 'true'

    AnalyzeTextRequest:
      type: object
      description: Request payload for submitting text for sentiment analysis
      required:
        - text
      properties:
        correlationId:
          type: string
          maxLength: 128
          minLength: 0
          description: Optional client-provided identifier for correlating requests with external systems
        domain:
          $ref: '#/components/schemas/AnalysisDomain'
        text:
          type: string
          description: The text to analyze. Must be valid UTF-8. Supports all languages.
          minLength: 1
          example: This product changed my life – highly recommend!
        timestamp:
          type: string
          format: date-time
          description: Optional timestamp of the original text (e.g., when a review was posted). Defaults to the current time if omitted.
        topic:
          type: string
          maxLength: 512
          minLength: 0
          description: Optional topic or subject label to categorize the analysis
        weight:
          type: number
          format: double
          description: Optional weight to assign to this analysis entry within a feed (e.g., for weighted averages)

    CreateFeedRequest:
      type: object
      description: Request payload for creating a new sentiment analysis feed
      required:
        - name
      properties:
        id:
          type: string
          description: Optional client-provided identifier for the feed. If omitted, a UUID is generated automatically.
        name:
          type: string
          minLength: 1
          description: Human-readable name for the feed
        description:
          type: string
          description: Optional description of the feed's purpose or scope
        maxSize:
          type: integer
          format: int32
          minimum: 1
          description: Maximum number of analysis entries the feed can hold. Oldest entries may be evicted when the limit is reached.

    UpdateFeedRequest:
      type: object
      description: Request payload for updating an existing sentiment analysis feed
      properties:
        description:
          type: string
          description: Updated description of the feed's purpose or scope

    SentimentAnalysisFeed:
      type: object
      description: Represents a sentiment analysis feed used for grouping and tracking analyses
      properties:
        id:
          type: string
          description: Unique identifier of the feed
        name:
          type: string
          description: Human-readable name of the feed
        description:
          type: string
          description: Description of the feed's purpose or scope
        size:
          type: integer
          format: int32
          description: Current number of analysis entries in the feed
        maxSize:
          type: integer
          format: int32
          description: Maximum number of analysis entries the feed can hold

    Payload:
      type: object
      description: Contains the job ID returned after submission
      properties:
        jobId:
          type: string
          format: uuid
          description: Unique identifier of the created analysis job
          example: 3fa85f64-5717-4562-b3fc-2c963f66afa6

    SentimentAnalysisJobMetadata:
      type: object
      description: Metadata about a submitted sentiment analysis job
      properties:
        submittedTextLength:
          type: integer
          format: int32
          description: Character length of the submitted text

    PublicKeyInfo:
      type: object
      description: Encryption key and certificate metadata for the platform
      properties:
        certificatePem:
          type: string
          description: X.509 certificate in PEM-encoded format
        keyPem:
          type: string
          description: RSA public key in PEM-encoded format
        fingerprintSha256:
          type: string
          description: SHA-256 fingerprint of the certificate
        expires:
          type: string
          format: date-time
          description: Expiration date of the certificate

    WftError:
      type: object
      description: Represents an error returned by the API
      discriminator:
        propertyName: type
      required:
        - type
      properties:
        recoverable:
          type: boolean
          description: Indicates whether the error is recoverable (e.g., retryable)
        type:
          type: string
          description: Machine-readable error identifier
        message:
          type: string
          description: Human-readable error message
        details:
          type: object
          description: Additional context or validation errors

    WftWsResultSentimentAnalysisFeedVoid:
      type: object
      description: Standard wrapper for a sentiment analysis feed result
      properties:
        data:
          $ref: '#/components/schemas/SentimentAnalysisFeed'
        errors:
          type: array
          items:
            $ref: '#/components/schemas/WftError'
        metadata: {}

    PagingUsageLimits:
      type: object
      description: Usage limit for maximum collection page size (`limit` query parameter)
      properties:
        maxAllowedPageSize:
          type: integer
          format: int64
          description: |
            Maximum allowed `limit` for paged reads. Matches the resolved access policy’s `maxAllowedPageSize`.

    WftWsResultPagingUsageLimitsVoid:
      type: object
      description: Standard wrapper for paging usage limit
      properties:
        data:
          $ref: '#/components/schemas/PagingUsageLimits'
        errors:
          type: array
          items:
            $ref: '#/components/schemas/WftError'
        metadata: {}

    FeedMaxHistoryLimits:
      type: object
      description: Feed consumption limit for maximum queryable history window
      properties:
        maxHistoryDays:
          type: integer
          format: int64
          description: |
            Maximum history length in days for non-admin feed reads. **`<= 0`** means unlimited lookback (subject to
            other caps).

    FeedUsageLimits:
      type: object
      description: Combined feed consumption limits (history window and allowed stat granularities)
      properties:
        maxHistoryDays:
          type: integer
          format: int64
          description: Same semantics as `FeedMaxHistoryLimits.maxHistoryDays`.
        allowedGranularities:
          type: array
          items:
            $ref: '#/components/schemas/StatGranularity'
          description: Same semantics as `FeedAllowedGranularitiesLimits.allowedGranularities`.

    FeedAllowedGranularitiesLimits:
      type: object
      description: Feed consumption limit for allowed statistics bucket sizes
      properties:
        allowedGranularities:
          type: array
          items:
            $ref: '#/components/schemas/StatGranularity'
          description: Granularities allowed for non-admin feed stats queries (stable sort order is not guaranteed)

    WftWsResultFeedMaxHistoryLimitsVoid:
      type: object
      description: Standard wrapper for feed max-history usage limit
      properties:
        data:
          $ref: '#/components/schemas/FeedMaxHistoryLimits'
        errors:
          type: array
          items:
            $ref: '#/components/schemas/WftError'
        metadata: {}

    WftWsResultFeedUsageLimitsVoid:
      type: object
      description: Standard wrapper for combined feed usage limits
      properties:
        data:
          $ref: '#/components/schemas/FeedUsageLimits'
        errors:
          type: array
          items:
            $ref: '#/components/schemas/WftError'
        metadata: {}

    WftWsResultFeedAllowedGranularitiesLimitsVoid:
      type: object
      description: Standard wrapper for feed allowed-granularities usage limit
      properties:
        data:
          $ref: '#/components/schemas/FeedAllowedGranularitiesLimits'
        errors:
          type: array
          items:
            $ref: '#/components/schemas/WftError'
        metadata: {}

    WftWsResultPayloadVoid:
      type: object
      description: Standard success response containing a job ID
      properties:
        data:
          $ref: '#/components/schemas/Payload'
        errors:
          type: array
          items:
            $ref: '#/components/schemas/WftError'
        metadata: {}

    WftWsResultPayloadSentimentAnalysisJobMetadata:
      type: object
      description: Standard success response containing a job ID with sentiment analysis job metadata
      properties:
        data:
          $ref: '#/components/schemas/Payload'
        errors:
          type: array
          items:
            $ref: '#/components/schemas/WftError'
        metadata:
          $ref: '#/components/schemas/SentimentAnalysisJobMetadata'

    WftWsResultPublicKeyInfoVoid:
      type: object
      description: Standard wrapper for encryption key and certificate metadata
      properties:
        data:
          $ref: '#/components/schemas/PublicKeyInfo'
        errors:
          type: array
          items:
            $ref: '#/components/schemas/WftError'
        metadata: {}

    EmotionLabel:
      type: string
      description: |
        Plutchik-style primary emotion label used in `emotionScores` and in feed statistics rollups.
        Values align with the API’s emotion taxonomy (see product contract).
      enum:
        - HAPPINESS
        - SADNESS
        - FEAR
        - ANGER
        - SURPRISE
        - DISGUST
        - CONTEMPT
        - ANTICIPATION

    EmotionScore:
      type: object
      description: A detected emotion with its confidence score
      properties:
        emotion:
          $ref: '#/components/schemas/EmotionLabel'
        score:
          type: number
          format: double
          minimum: 0
          maximum: 1
          description: Confidence that this emotion is present (0.0 = not present, 1.0 = strongly present)
        schema:
          $ref: '#/components/schemas/Schema'
        specificData:
          $ref: '#/components/schemas/SpecificData'

    EmotionIntervalStats:
      type: object
      description: Per-interval emotion rollup statistics for a feed (no combined sentiment summary)
      properties:
        interval:
          $ref: '#/components/schemas/IntervalBounds'
        emotions:
          type: array
          description: Rollup statistics for each detected emotion in this interval
          items:
            $ref: '#/components/schemas/EmotionRollupStats'

    EmotionRollupStats:
      type: object
      description: Aggregate statistics for a single emotion label within a time bucket
      properties:
        emotion:
          $ref: '#/components/schemas/EmotionLabel'
        avgScore:
          type: number
          format: double
          description: Mean score for this emotion in the interval
        variance:
          type: number
          format: double
          description: Variance of scores across samples in the interval
        sampleCount:
          type: integer
          format: int64
          description: Number of underlying emotion score samples
        segmentCount:
          type: integer
          format: int64
          description: Number of segments or buckets aggregated into this rollup

    SentimentStatsMode:
      type: string
      description: |
        Which sentiment fields each interval row includes for combined stats (`GET .../stats`) and sentiment-only stats
        (`GET .../stats/sentiment`). HTTP caches should vary by this query parameter (or disable caching) so clients never
        mix representations.
      enum:
        - normalized
        - raw
        - both
      default: normalized

    SentimentDistributionBasis:
      type: string
      description: Whether normalized **share**, **range95**, and **stdError** are defined for the bucket.
      enum:
        - NO_MASS
        - ALL_SCORES_ZERO
        - OK

    Range95:
      type: object
      description: |
        Approximate **95% range** for the **estimated share** (Normal interval, clipped to `[0, 1]`). Serialized as
        property **`range95`** on `SentimentDistributionLabelStats`.
      properties:
        low:
          type: number
          format: double
        high:
          type: number
          format: double

    SentimentDistributionLabelStats:
      type: object
      description: |
        Per-label normalized **share** (row-mass-weighted mean contribution / sum across labels), plus approximate
        **95% range** (`range95`), **std. error** (`stdError`), and **sampleCount** (raw rows in that label’s outer rollup)
        for that share when `basis` is **OK** (not raw `RollupStats.variance`).
      properties:
        share:
          type: number
          format: double
        range95:
          $ref: '#/components/schemas/Range95'
        stdError:
          type: number
          format: double
        sampleCount:
          type: integer
          format: int64
          description: Raw analysis rows in the bucket for this label (same meaning as `RollupStats.sampleCount` on the raw sentiment arm).

    SentimentDistributionStats:
      type: object
      description: Normalized sentiment mass distribution across positive / negative / neutral for the bucket.
      properties:
        basis:
          $ref: '#/components/schemas/SentimentDistributionBasis'
        positive:
          $ref: '#/components/schemas/SentimentDistributionLabelStats'
        negative:
          $ref: '#/components/schemas/SentimentDistributionLabelStats'
        neutral:
          $ref: '#/components/schemas/SentimentDistributionLabelStats'

    FeedIntervalStats:
      type: object
      description: |
        Full combined rollup for one time bucket: optional raw **sentiment** triple, optional **sentimentDistribution**
        (normalized shares + **range95** / **stdError**), and per-emotion breakdown. Which sentiment fields appear is controlled by query
        **`sentimentStats`** (default **`normalized`** = distribution only).
      properties:
        interval:
          $ref: '#/components/schemas/IntervalBounds'
        sentiment:
          $ref: '#/components/schemas/SentimentTripleStats'
          description: Present when `sentimentStats` is `raw` or `both`; omitted or null when `normalized`.
        sentimentDistribution:
          $ref: '#/components/schemas/SentimentDistributionStats'
          description: Present when `sentimentStats` is `normalized` (default) or `both`; omitted or null when `raw` only.
        emotions:
          type: array
          description: Per-emotion rollups for the same interval
          items:
            $ref: '#/components/schemas/EmotionRollupStats'

    IntervalBounds:
      type: object
      description: UTC half-open interval `[from, to)` for a statistics bucket
      properties:
        from:
          type: string
          format: date-time
          description: Inclusive start of the interval
        to:
          type: string
          format: date-time
          description: Exclusive end of the interval

    RollupStats:
      type: object
      description: Numeric rollup (mean, variance, counts) for one emotion label or one sentiment label track in an interval
      properties:
        avgScore:
          type: number
          format: double
          description: Mean normalized score in the bucket
        variance:
          type: number
          format: double
          description: Variance of scores in the bucket
        sampleCount:
          type: integer
          format: int64
          description: Number of score samples contributing to the rollup
        segmentCount:
          type: integer
          format: int64
          description: Number of logical segments aggregated (implementation-specific)

    SentimentIntervalStats:
      type: object
      description: |
        Per-interval sentiment payload (no per-emotion list). Raw **sentiment** and/or **sentimentDistribution** per
        **`sentimentStats`** (default **`normalized`**).
      properties:
        interval:
          $ref: '#/components/schemas/IntervalBounds'
        sentiment:
          $ref: '#/components/schemas/SentimentTripleStats'
          description: Present when `sentimentStats` is `raw` or `both`.
        sentimentDistribution:
          $ref: '#/components/schemas/SentimentDistributionStats'
          description: Present when `sentimentStats` is `normalized` (default) or `both`.

    SentimentTripleStats:
      type: object
      description: |
        Parallel rollups for analyses labeled **positive**, **negative**, or **neutral** in the interval. Each track’s
        `sampleCount` counts only rows with that label; analyses with no sentiment label do not contribute to any track.
        Unused tracks report zero mean and variance with `sampleCount` 0.
      required:
        - positive
        - negative
        - neutral
      properties:
        positive:
          $ref: '#/components/schemas/RollupStats'
        negative:
          $ref: '#/components/schemas/RollupStats'
        neutral:
          $ref: '#/components/schemas/RollupStats'

    StatGranularity:
      type: string
      description: |
        Allowed values for the `granularity` query parameter on feed statistics endpoints. Each value selects the
        width of a UTC-aligned time bucket used to aggregate sentiment and emotion scores.

        - **HOUR** — one bucket per clock hour
        - **DAY** — one bucket per calendar day
        - **WEEK** — one bucket per calendar week
        - **MONTH** — one bucket per calendar month
        - **LIFETIME** — a single bucket for the full feed (entire requested or available range)
      enum:
        - HOUR
        - DAY
        - WEEK
        - MONTH
        - LIFETIME

    IntentCategory:
      type: string
      description: |
        High-level intent inferred from the submitted text (e.g. praise vs complaint). The classifier may return
        **UNKNOWN** when intent is unclear.
      enum:
        - COMPLAINT
        - PRAISE
        - INQUIRY
        - SUGGESTION
        - REQUEST
        - NEUTRAL
        - UNKNOWN

    SentimentCategory:
      type: string
      description: |
        Discrete overall sentiment label. **MIXED** indicates strongly conflicting signals; **UNCERTAIN** indicates
        low confidence or borderline polarity.
      enum:
        - VERY_NEGATIVE
        - NEGATIVE
        - SLIGHTLY_NEGATIVE
        - NEUTRAL
        - SLIGHTLY_POSITIVE
        - POSITIVE
        - VERY_POSITIVE
        - MIXED
        - UNCERTAIN

    SentimentAnalysis:
      type: object
      description: Complete result of sentiment analysis
      properties:
        id:
          type: string
          description: Unique identifier (UUID) of this analysis result
        intent:
          $ref: '#/components/schemas/IntentCategory'
        intentScore:
          type: number
          format: double
          description: Confidence score for the detected intent (0.0 – 1.0)
        sentiment:
          $ref: '#/components/schemas/SentimentCategory'
        sentimentScore:
          type: number
          format: double
          minimum: 0
          maximum: 1
          description: Confidence score for the detected sentiment (0.0 – 1.0)
        emotionScores:
          type: array
          description: Per-emotion confidence scores
          items:
            $ref: '#/components/schemas/EmotionScore'
        rationale:
          type: string
          description: Human-readable explanation of the sentiment decision (optional)
        inputTimestamp:
          type: string
          format: date-time
          description: Timestamp of the original input text (if provided in the request)
        schema:
          $ref: '#/components/schemas/Schema'
        specificData:
          $ref: '#/components/schemas/SpecificData'

    WftWsResultSentimentAnalysisVoid:
      type: object
      description: Standard wrapper for a completed sentiment analysis result
      properties:
        data:
          $ref: '#/components/schemas/SentimentAnalysis'
        errors:
          type: array
          items:
            $ref: '#/components/schemas/WftError'
        metadata: {}

    WftWsResultPageListSentimentAnalysis:
      type: object
      description: Paginated list of sentiment analysis results with collection metadata and navigation links
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/SentimentAnalysis'
        errors:
          type: array
          items:
            $ref: '#/components/schemas/WftError'
        metadata:
          $ref: '#/components/schemas/WftWsCollectionResultMeta'
        links:
          type: array
          items:
            $ref: '#/components/schemas/Link'

    WftWsResultPageListSentimentAnalysisFeed:
      type: object
      description: Paginated list of sentiment analysis feeds with collection metadata and navigation links
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/SentimentAnalysisFeed'
        errors:
          type: array
          items:
            $ref: '#/components/schemas/WftError'
        metadata:
          $ref: '#/components/schemas/WftWsCollectionResultMeta'
        links:
          type: array
          items:
            $ref: '#/components/schemas/Link'

    WftWsResultPageListEmotionIntervalStats:
      type: object
      description: Paginated list of emotion-only interval statistics with collection metadata and navigation links
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/EmotionIntervalStats'
        errors:
          type: array
          items:
            $ref: '#/components/schemas/WftError'
        metadata:
          $ref: '#/components/schemas/WftWsCollectionResultMeta'
        links:
          type: array
          items:
            $ref: '#/components/schemas/Link'

    WftWsResultPageListFeedIntervalStats:
      type: object
      description: Paginated list of combined feed interval statistics (sentiment + emotions) with collection metadata and navigation links
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/FeedIntervalStats'
        errors:
          type: array
          items:
            $ref: '#/components/schemas/WftError'
        metadata:
          $ref: '#/components/schemas/WftWsCollectionResultMeta'
        links:
          type: array
          items:
            $ref: '#/components/schemas/Link'

    WftWsResultPageListSentimentIntervalStats:
      type: object
      description: Paginated list of sentiment-only interval statistics with collection metadata and navigation links
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/SentimentIntervalStats'
        errors:
          type: array
          items:
            $ref: '#/components/schemas/WftError'
        metadata:
          $ref: '#/components/schemas/WftWsCollectionResultMeta'
        links:
          type: array
          items:
            $ref: '#/components/schemas/Link'

    WftWsCollectionResultMeta:
      type: object
      description: Pagination metadata for collection results
      properties:
        currentOffset:
          type: integer
          format: int64
          description: The current offset position in the result set
        totalCount:
          type: integer
          format: int64
          description: Total number of items matching the query

    Link:
      type: object
      description: Hypermedia link for navigating paginated results
      properties:
        href:
          type: string
          description: The URL of the linked resource
        hreflang:
          type: string
          description: Language of the linked resource
        title:
          type: string
          description: Human-readable title for the link
        type:
          type: string
          description: Media type of the linked resource
        deprecation:
          type: string
          description: URL indicating the deprecation status of the link
        profile:
          type: string
          description: URI of the profile describing the linked resource
        name:
          type: string
          description: Name of the link relation
        templated:
          type: boolean
          description: Whether the href is a URI template

    Progress:
      type: object
      description: Represents the progress state of a job stage
      properties:
        details: {}
        percentCompleted:
          type: number
          format: double
          description: Percentage of completion for this stage (0.0 – 100.0)
        stageId:
          $ref: '#/components/schemas/Stage'

    Stage:
      description: Identifier for a job processing stage
      type: object

    JobProcessingStatus:
      type: string
      description: |
        Lifecycle state of an asynchronous job returned by `/system/jobs/{id}` and related endpoints.
        Poll until **SUCCEEDED** (then read `resultId`) or **FAILED** / **CANCELED** for terminal error handling.
      enum:
        - CANCELED
        - FAILED
        - PENDING
        - PROCESSING
        - SUCCEEDED

    SysJobState:
      type: object
      description: Complete state of an asynchronous system job
      required:
        - owner
        - type
      properties:
        type:
          type: string
          description: Type of the job (e.g., SENTIMENT_ANALYSIS)
        resultId:
          type: string
          format: uuid
          description: UUID of the result produced by this job (available when status is SUCCEEDED)
        owner:
          $ref: '#/components/schemas/WftMtUser'
        progressTracking:
          $ref: '#/components/schemas/WftProgressTracking'
        status:
          $ref: '#/components/schemas/JobProcessingStatus'
        ownerId:
          type: string
          description: Identifier of the job owner
        tenantId:
          type: string
          description: Identifier of the tenant that owns this job

    WftMtUser:
      type: object
      description: Represents the owner of a job or resource
      properties:
        tenantId:
          type: string
          description: Identifier of the tenant
        userId:
          type: string
          description: Identifier of the user

    WftProgressTracking:
      type: object
      description: Tracks the progress of a multi-stage job
      properties:
        progressStack:
          type: array
          items:
            $ref: '#/components/schemas/Progress'
          description: Stack of progress entries for nested stages
        overallProgress:
          $ref: '#/components/schemas/Progress'

    WftWsResultSysJobStateVoid:
      type: object
      description: Standard wrapper for a system job state result
      properties:
        data:
          $ref: '#/components/schemas/SysJobState'
        errors:
          type: array
          items:
            $ref: '#/components/schemas/WftError'
        metadata: {}
