openapi: 3.1.0
info:
  title: Mood Metrics API
  version: v1.0.0-BETA
  x-logo:
    url: https://static.wixstatic.com/media/60a259_4d3b2a13b13e4edfb4efad2de8b9a8f1~mv2.png
    backgroundColor: "#FFFFFF"
  description: |
    The Mood Metrics API provides powerful sentiment analysis on submitted text, with optional long-term tracking and anomaly detection using feed IDs. Perfect for monitoring brand perception, social media streams, customer feedback, support tickets, or real-time news sentiment.

    <ul>
      <li>Instant sentiment classification: <strong>positive</strong>, <strong>negative</strong>, or <strong>neutral</strong></li>
      <li>Confidence scores (0.0 – 1.0) for each primary emotion</li>
      <li>Track sentiment over time by associating text with a custom <code>feedId</code></li>
      <li>Detect sentiment trends, sudden shifts, and anomalies across a feed</li>
      <li>Batch processing support for high-volume streams</li>
      <li>Language-agnostic – works with any UTF-8 text</li>
      <li>RESTful design with predictable resource-oriented URLs and HATEOAS-style pagination</li>
      <li>Secure, scalable, cloud-backed infrastructure</li>
    </ul>

    <p><strong>Note:</strong> The API is currently in active development. Some endpoints and response fields may evolve. Historical data and trend detection features are being rolled out progressively – stay tuned for updates!</p>

    <hr/>

    <h3>Useful Resources</h3>
    <ul>
      <li>
        SDKs & Clients
        <ul>
          <li>JavaScript / TypeScript (coming soon)</li>
          <li>Sample apps & tutorials (coming soon)</li>
        </ul>
      </li>
      <li><a href="http://wirefreethought.com/terms-of-service">API Terms of Service</a></li>
      <li>Contact: <a href="mailto:info@mood-metrics-api.dev">info@mood-metrics-api.dev</a></li>
    </ul>
servers:
  - url: 'https://free-service.mood-metrics-api.dev'
  - url: 'https://mood-metrics.p.rapidapi.com'
paths:
  /analyses:
    post:
      tags:
        - analysis
      operationId: anazlyeText
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AnalyzeTextRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WftWsResultPayloadVoid'
  '/system/jobs/{id}/status':
    get:
      tags:
        - job
      operationId: getJobStatus
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WftWsResultPayloadVoid'
  '/system/jobs/{id}':
    get:
      tags:
        - job
      operationId: getJob
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WftWsResultSysJobStateVoid'
  '/analyses/{id}':
    get:
      tags:
        - analysis
      operationId: getSentimentAnalysis
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WftWsResultSentimentAnalysisVoid'
components:
  schemas:
    AnalyzeTextRequest:
      type: object
      properties:
        feedId:
          type: string
        text:
          type: string
    Payload:
      type: object
      properties:
        jobId:
          type: string
    WftError:
      discriminator:
        propertyName: type
      properties:
        type:
          type: string
      required:
        - type
    WftWsResultPayloadVoid:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/Payload'
        errors:
          type: array
          items:
            $ref: '#/components/schemas/WftError'
    Progress:
      type: object
      properties:
        details: {}
        percentCompleted:
          type: number
          format: double
        stageId:
          $ref: '#/components/schemas/Stage'
    Stage: {}
    SysJobState:
      type: object
      properties:
        id:
          type: string
          format: uuid
        type:
          type: string
        resultId:
          type: string
          format: uuid
        owner:
          $ref: '#/components/schemas/WftMtUser'
        progressTracking:
          $ref: '#/components/schemas/WftProgressTracking'
        status:
          type: string
          enum:
            - CANCELED
            - FAILED
            - PENDING
            - PROCESSING
            - SUCCEEDED
        ownerId:
          type: string
        tenantId:
          type: string
    WftMtUser:
      type: object
      properties:
        tenantId:
          type: string
        userId:
          type: string
    WftProgressTracking:
      type: object
      properties:
        progressStack:
          type: array
          items:
            $ref: '#/components/schemas/Progress'
        overallProgress:
          $ref: '#/components/schemas/Progress'
    WftWsResultSysJobStateVoid:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/SysJobState'
        errors:
          type: array
          items:
            $ref: '#/components/schemas/WftError'
    ConversionObject:
      type: object
      properties:
        logicalTypeName:
          type: string
        recommendedSchema:
          $ref: '#/components/schemas/Schema'
    EmotionScore:
      type: object
      properties:
        emotion:
          type: string
          enum:
            - HAPPINESS
            - SADNESS
            - FEAR
            - ANGER
            - SURPRISE
            - DISGUST
            - NEUTRAL
        score:
          type: number
          format: double
        schema:
          $ref: '#/components/schemas/Schema'
        specificData:
          $ref: '#/components/schemas/SpecificData'
    FastReaderBuilder:
      type: object
      properties:
        keyClassEnabled:
          type: boolean
        classPropEnabled:
          type: boolean
    Field:
      type: object
      properties:
        objectProps:
          type: object
          additionalProperties: {}
    LogicalType:
      type: object
      properties:
        name:
          type: string
    Schema:
      type: object
      properties:
        type:
          type: string
          enum:
            - RECORD
            - ENUM
            - ARRAY
            - MAP
            - UNION
            - FIXED
            - STRING
            - BYTES
            - INT
            - LONG
            - FLOAT
            - DOUBLE
            - BOOLEAN
            - 'NULL'
        logicalType:
          $ref: '#/components/schemas/LogicalType'
        name:
          type: string
        fields:
          type: array
          items:
            $ref: '#/components/schemas/Field'
        error:
          type: boolean
        fullName:
          type: string
        elementType: {}
        aliases:
          type: array
          items:
            type: string
          uniqueItems: true
        types:
          type: array
          items: {}
        valueType: {}
        namespace:
          type: string
        nullable:
          type: boolean
        enumSymbols:
          type: array
          items:
            type: string
        fixedSize:
          type: integer
          format: int32
        union:
          type: boolean
        doc:
          type: string
        enumDefault:
          type: string
        objectProps:
          type: object
          additionalProperties: {}
    SentimentAnalysis:
      type: object
      properties:
        feedId:
          type: string
        ownerId:
          type: string
        tenantId:
          type: string
        sentiment:
          type: string
          enum:
            - VERY_NEGATIVE
            - NEGATIVE
            - SLIGHTLY_NEGATIVE
            - NEUTRAL
            - SLIGHTLY_POSITIVE
            - POSITIVE
            - VERY_POSITIVE
            - MIXED
            - UNCERTAIN
        sentimentScore:
          type: number
          format: double
        emotionScores:
          type: array
          items:
            $ref: '#/components/schemas/EmotionScore'
        rationale:
          type: string
        schema:
          $ref: '#/components/schemas/Schema'
        specificData:
          $ref: '#/components/schemas/SpecificData'
    SpecificData:
      type: object
      properties:
        classLoader:
          type: object
          properties:
            name:
              type: string
            registeredAsParallelCapable:
              type: boolean
            parent:
              type: object
              properties:
                name:
                  type: string
                registeredAsParallelCapable:
                  type: boolean
                unnamedModule:
                  type: object
                  properties:
                    name:
                      type: string
                    descriptor:
                      type: object
                      properties:
                        open:
                          type: boolean
                        automatic:
                          type: boolean
                    named:
                      type: boolean
                    annotations:
                      type: array
                      items: {}
                    declaredAnnotations:
                      type: array
                      items: {}
                    packages:
                      type: array
                      items:
                        type: string
                      uniqueItems: true
                    nativeAccessEnabled:
                      type: boolean
                    layer: {}
                definedPackages:
                  type: array
                  items:
                    type: object
                    properties:
                      name:
                        type: string
                      annotations:
                        type: array
                        items: {}
                      declaredAnnotations:
                        type: array
                        items: {}
                      sealed:
                        type: boolean
                      specificationTitle:
                        type: string
                      specificationVersion:
                        type: string
                      specificationVendor:
                        type: string
                      implementationTitle:
                        type: string
                      implementationVersion:
                        type: string
                      implementationVendor:
                        type: string
                defaultAssertionStatus:
                  type: boolean
                  writeOnly: true
            unnamedModule:
              type: object
              properties:
                name:
                  type: string
                descriptor:
                  type: object
                  properties:
                    open:
                      type: boolean
                    automatic:
                      type: boolean
                named:
                  type: boolean
                annotations:
                  type: array
                  items: {}
                declaredAnnotations:
                  type: array
                  items: {}
                packages:
                  type: array
                  items:
                    type: string
                  uniqueItems: true
                nativeAccessEnabled:
                  type: boolean
                layer: {}
            definedPackages:
              type: array
              items:
                type: object
                properties:
                  name:
                    type: string
                  annotations:
                    type: array
                    items: {}
                  declaredAnnotations:
                    type: array
                    items: {}
                  sealed:
                    type: boolean
                  specificationTitle:
                    type: string
                  specificationVersion:
                    type: string
                  specificationVendor:
                    type: string
                  implementationTitle:
                    type: string
                  implementationVersion:
                    type: string
                  implementationVendor:
                    type: string
            defaultAssertionStatus:
              type: boolean
              writeOnly: true
        conversions:
          type: array
          items:
            $ref: '#/components/schemas/ConversionObject'
        fastReaderEnabled:
          type: boolean
        fastReaderBuilder:
          $ref: '#/components/schemas/FastReaderBuilder'
        customCoders:
          type: boolean
          writeOnly: true
    WftWsResultSentimentAnalysisVoid:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/SentimentAnalysis'
        errors:
          type: array
          items:
            $ref: '#/components/schemas/WftError'

