openapi: 3.1.0
info:
  title: Mood Metrics API
  description: |
    The Mood Metrics API provides powerful sentiment analysis on submitted text, with optional long-term tracking and anomaly detection using feed IDs. Perfect for monitoring brand perception, social media streams, customer feedback, support tickets, or real-time news sentiment.

    <ul>
      <li>Sentiment classification
      <li>Intent classification
      <li>Confidence scores (0.0 – 1.0) for each primary emotion</li>
      <li>Language-agnostic – works with any UTF-8 text</li>
      <li>RESTful design with predictable resource-oriented URLs</li>
      <li>Secure, scalable, cloud-backed infrastructure</li>
    </ul>

    <hr/>

    <h3>Useful Resources</h3>
    <ul>
      <li><a href="http://wirefreethought.com/terms-of-service">API Terms of Service</a></li>
      <li>Contact: <a href="mailto:info@mood-metrics-api.dev">info@mood-metrics-api.dev</a></li>
    </ul>

  version: v1.0.0
  x-logo:
    url: logo.png
    backgroundColor: "#FFFFFF"

servers:
  - url: https://mood-metrics.p.rapidapi.com
    description: Production API endpoint (via RapidAPI)

tags:
  - name: analysis
    description: Standalone sentiment analysis (`/analyses`)
  - name: analysis-controller
    description: Submit analysis within a user or platform feed
  - name: encryption
    description: Encryption key and certificate material
  - name: job
    description: Asynchronous processing jobs
  - name: feed-controller
    description: Create, retrieve, update, and manage feeds and related analyses

paths:
  /analyses:
    post:
      tags:
        - analysis
      summary: Submit text for sentiment analysis
      description: |
        Submits text for sentiment analysis.

        Behavior is controlled by the **X-WFT-Async-Mode** header:

        - `true` (default): Processing is asynchronous. The API immediately returns a job ID. Use the job endpoints to monitor progress and retrieve results when complete.
        - `false`: Processing is synchronous. The API waits for the analysis to complete and returns the final sentiment analysis result in the same shape as `GET /analyses/{id}`.
      operationId: analyzeTextAsync
      parameters:
        - name: X-WFT-Async-Mode
          in: header
          description: Controls whether the request is processed asynchronously (`true`, default) or synchronously (`false`).
          schema:
            $ref: '#/components/schemas/AsyncModeHeaderValue'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AnalyzeTextRequest'
            examples:
              single:
                summary: Analyze a single piece of text (async)
                value:
                  text: "I absolutely love this product! It's the best thing ever!"
      responses:
        '200':
          description: Analysis job created or completed result returned, depending on async mode
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/WftWsResultSentimentAnalysisVoid'
                  - $ref: '#/components/schemas/WftWsResultPayloadSentimentAnalysisJobMetadata'
              examples:
                async:
                  summary: Asynchronous mode (X-WFT-Async-Mode=true or omitted)
                  value:
                    data:
                      jobId: 3fa85f64-5717-4562-b3fc-2c963f66afa6
                    errors: []
                sync:
                  summary: Synchronous mode (X-WFT-Async-Mode=false)
                  value:
                    data:
                      intent: PRAISE
                      intentScore: 0.9
                      sentiment: VERY_POSITIVE
                      sentimentScore: 0.94
                      emotionScores:
                        - emotion: HAPPINESS
                          score: 0.97
                        - emotion: SURPRISE
                          score: 0.41
                        - emotion: NEUTRAL
                          score: 0.02
                      rationale: Strong positive indicators including words like 'love', 'best', 'amazing'
                    errors: []

  /analyses/{id}:
    get:
      tags:
        - analysis
      summary: Retrieve completed sentiment analysis result
      description: |
        Fetches the final sentiment analysis result using the result ID obtained from a completed job.
        Includes overall sentiment, score, emotion breakdown, and rationale.
      operationId: getSentimentAnalysis
      parameters:
        - name: id
          in: path
          required: true
          description: Result ID (UUID) from a SUCCEEDED sentiment analysis job
          schema:
            type: string
          example: a1b2c3d4-e5f6-7890-g1h2-i3j4k5l6m7n8
      responses:
        '200':
          description: Completed sentiment analysis result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WftWsResultSentimentAnalysisVoid'
              example:
                data:
                  sentiment: VERY_POSITIVE
                  sentimentScore: 0.94
                  emotionScores:
                    - emotion: HAPPINESS
                      score: 0.97
                    - emotion: SURPRISE
                      score: 0.41
                    - emotion: NEUTRAL
                      score: 0.02
                  rationale: Strong positive indicators including words like 'love', 'best', 'amazing'
                errors: []

  /user-feeds:
    post:
      tags:
        - feed-controller
      summary: Create a new user feed
      description: |
        Creates a new user-scoped sentiment analysis feed. Feeds allow you to group related analyses
        together for long-term tracking, trend analysis, and anomaly detection.
      operationId: createUserFeed
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateFeedRequest'
            examples:
              basic:
                summary: Create a feed for tracking brand reviews
                value:
                  name: acme-product-reviews
                  description: Sentiment tracking for Acme Corp product reviews
                  maxSize: 1000
      responses:
        '200':
          description: User feed created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WftWsResultSentimentAnalysisFeedVoid'
              example:
                data:
                  id: f1a2b3c4-d5e6-7890-abcd-ef1234567890
                  name: acme-product-reviews
                  description: Sentiment tracking for Acme Corp product reviews
                  size: 0
                  maxSize: 1000
                errors: []

  /user-feeds/{id}:
    get:
      tags:
        - feed-controller
      summary: Retrieve a user feed
      description: |
        Fetches the details of a user-scoped feed by its ID, including name, description, current size, and maximum size.
      operationId: getUserFeed
      parameters:
        - name: id
          in: path
          required: true
          description: Unique identifier of the user feed
          schema:
            type: string
          example: f1a2b3c4-d5e6-7890-abcd-ef1234567890
      responses:
        '200':
          description: User feed details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WftWsResultSentimentAnalysisFeedVoid'
              example:
                data:
                  id: f1a2b3c4-d5e6-7890-abcd-ef1234567890
                  name: acme-product-reviews
                  description: Sentiment tracking for Acme Corp product reviews
                  size: 42
                  maxSize: 1000
                errors: []
    put:
      tags:
        - feed-controller
      summary: Update a user feed
      description: |
        Updates the mutable properties of a user-scoped feed. Currently supports updating the feed description.
      operationId: updateUserFeed
      parameters:
        - name: id
          in: path
          required: true
          description: Unique identifier of the user feed to update
          schema:
            type: string
          example: f1a2b3c4-d5e6-7890-abcd-ef1234567890
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateFeedRequest'
            examples:
              updateDescription:
                summary: Update the feed description
                value:
                  description: Updated sentiment tracking for Acme Corp product reviews (Q2 2025)
      responses:
        '200':
          description: User feed updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WftWsResultSentimentAnalysisFeedVoid'
              example:
                data:
                  id: f1a2b3c4-d5e6-7890-abcd-ef1234567890
                  name: acme-product-reviews
                  description: Updated sentiment tracking for Acme Corp product reviews (Q2 2025)
                  size: 42
                  maxSize: 1000
                errors: []

  /user-feeds/{id}/analyses:
    get:
      tags:
        - feed-controller
      summary: List analyses for a user feed
      description: |
        Returns a paginated list of sentiment analysis results associated with the specified user feed.
        Supports pagination via `limit` and `offset`, and sorting via the `sort` parameter.
      operationId: getUserFeedAnalyses
      parameters:
        - name: id
          in: path
          required: true
          description: Unique identifier of the user feed
          schema:
            type: string
          example: f1a2b3c4-d5e6-7890-abcd-ef1234567890
        - name: limit
          in: query
          required: false
          description: Maximum number of results to return per page
          schema:
            type: integer
            format: int64
            default: 5
          example: 10
        - name: offset
          in: query
          required: false
          description: Number of results to skip before returning (for pagination)
          schema:
            type: integer
            format: int64
            default: 0
          example: 0
        - name: sort
          in: query
          required: false
          description: Sort order for results (e.g., `sentimentScore,desc`)
          schema:
            type: string
          example: sentimentScore,desc
      responses:
        '200':
          description: Paginated list of sentiment analysis results for the user feed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WftWsResultPageListSentimentAnalysis'
              example:
                data:
                  - id: a1b2c3d4-e5f6-7890-g1h2-i3j4k5l6m7n8
                    sentiment: VERY_POSITIVE
                    sentimentScore: 0.94
                    emotionScores:
                      - emotion: HAPPINESS
                        score: 0.97
                    rationale: Strong positive indicators
                  - id: b2c3d4e5-f6a7-8901-h2i3-j4k5l6m7n8o9
                    sentiment: NEGATIVE
                    sentimentScore: -0.65
                    emotionScores:
                      - emotion: ANGER
                        score: 0.72
                    rationale: Negative language detected
                errors: []
                metadata:
                  currentOffset: 0
                  totalCount: 42
    post:
      tags:
        - analysis-controller
      summary: Submit text for analysis within a user feed
      description: |
        Submits text for sentiment analysis and associates the result with the specified user feed.

        Behavior is controlled by the **X-WFT-Async-Mode** header:

        - `true` (default): Processing is asynchronous. The API immediately returns a job ID.
        - `false`: Processing is synchronous. The API waits for the analysis to complete and returns the final result.
      operationId: analyzeTextForUserFeedAsync
      parameters:
        - name: id
          in: path
          required: true
          description: Unique identifier of the user feed to associate the analysis with
          schema:
            type: string
          example: f1a2b3c4-d5e6-7890-abcd-ef1234567890
        - name: X-WFT-Async-Mode
          in: header
          description: Controls whether the request is processed asynchronously (`true`, default) or synchronously (`false`).
          schema:
            $ref: '#/components/schemas/AsyncModeHeaderValue'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AnalyzeTextRequest'
            examples:
              feedAnalysis:
                summary: Analyze text within a user feed
                value:
                  text: "The customer support was unhelpful and rude."
      responses:
        '200':
          description: Analysis job created or completed result returned, depending on async mode
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/WftWsResultSentimentAnalysisVoid'
                  - $ref: '#/components/schemas/WftWsResultPayloadSentimentAnalysisJobMetadata'
              examples:
                async:
                  summary: Asynchronous mode (X-WFT-Async-Mode=true or omitted)
                  value:
                    data:
                      jobId: 4ab95f64-6817-4562-c3fc-3d963f77bfb7
                    errors: []
                sync:
                  summary: Synchronous mode (X-WFT-Async-Mode=false)
                  value:
                    data:
                      intent: COMPLAINT
                      intentScore: 0.88
                      sentiment: NEGATIVE
                      sentimentScore: -0.78
                      emotionScores:
                        - emotion: ANGER
                          score: 0.82
                        - emotion: DISGUST
                          score: 0.45
                      rationale: Negative indicators including 'unhelpful' and 'rude'
                    errors: []

  /user-feeds/{id}/analyses/{analysisId}:
    delete:
      tags:
        - feed-controller
      summary: Delete an analysis from a user feed
      description: |
        Removes a specific sentiment analysis result from the specified user feed. This operation is irreversible.
      operationId: deleteUserFeedAnalysis
      parameters:
        - name: id
          in: path
          required: true
          description: Unique identifier of the user feed
          schema:
            type: string
          example: f1a2b3c4-d5e6-7890-abcd-ef1234567890
        - name: analysisId
          in: path
          required: true
          description: Unique identifier (UUID) of the analysis result to delete
          schema:
            type: string
          example: a1b2c3d4-e5f6-7890-g1h2-i3j4k5l6m7n8
      responses:
        '200':
          description: Analysis deleted successfully
          content:
            '*/*':
              schema:
                type: object
              example: {}

  /user-feeds/{id}/stats:
    get:
      tags:
        - feed-controller
      summary: Aggregate user-feed statistics by time bucket
      description: |
        Returns a paginated list of time-bucketed rollups for the specified user feed. Each item includes the interval
        bounds (UTC), aggregate **sentiment** statistics (average score, variance, sample counts), and per-**emotion**
        rollups for that interval.

        Bucket boundaries are controlled by **granularity** (`HOUR`, `DAY`, `WEEK`, `MONTH`, or `ALL`). Use optional
        **from** and **to** (`date-time`) to limit the window; use **limit** and **offset** to page through intervals.
      operationId: getUserFeedStats
      parameters:
        - name: id
          in: path
          required: true
          description: Unique identifier of the user feed
          schema:
            type: string
          example: f1a2b3c4-d5e6-7890-abcd-ef1234567890
        - name: granularity
          in: query
          required: true
          description: Size of each statistical interval (UTC bucket boundaries)
          schema:
            $ref: '#/components/schemas/StatGranularity'
          example: DAY
        - name: from
          in: query
          required: false
          description: Inclusive start of the query window (ISO-8601 date-time). Omit to begin at the oldest available data.
          schema:
            type: string
            format: date-time
          example: "2025-04-01T00:00:00Z"
        - name: to
          in: query
          required: false
          description: Exclusive end of the query window (ISO-8601 date-time). Omit to use the latest available data.
          schema:
            type: string
            format: date-time
          example: "2025-04-08T00:00:00Z"
        - name: limit
          in: query
          required: false
          description: Maximum number of interval rows to return per page
          schema:
            type: integer
            format: int64
            default: 5
          example: 10
        - name: offset
          in: query
          required: false
          description: Number of interval rows to skip before returning results
          schema:
            type: integer
            format: int64
            default: 0
          example: 0
      responses:
        '200':
          description: Paginated list of combined sentiment and emotion rollups per interval
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WftWsResultPageListFeedIntervalStats'
              example:
                data:
                  - interval:
                      from: "2025-04-07T00:00:00Z"
                      to: "2025-04-08T00:00:00Z"
                    sentiment:
                      avgScore: 0.52
                      variance: 0.06
                      sampleCount: 48
                      segmentCount: 1
                    emotions:
                      - emotion: HAPPINESS
                        avgScore: 0.61
                        variance: 0.04
                        sampleCount: 48
                        segmentCount: 1
                      - emotion: ANGER
                        avgScore: 0.11
                        variance: 0.02
                        sampleCount: 12
                        segmentCount: 1
                errors: []
                metadata:
                  currentOffset: 0
                  totalCount: 14

  /user-feeds/{id}/stats/sentiment:
    get:
      tags:
        - feed-controller
      summary: Sentiment-only statistics for a user feed by time bucket
      description: |
        Same time bucketing and query parameters as `GET /user-feeds/{id}/stats`, but each item contains only the
        overall **sentiment** rollup for the interval (no per-emotion breakdown). Useful for sparklines and high-level trends.
      operationId: getUserFeedSentimentStats
      parameters:
        - name: id
          in: path
          required: true
          description: Unique identifier of the user feed
          schema:
            type: string
          example: f1a2b3c4-d5e6-7890-abcd-ef1234567890
        - name: granularity
          in: query
          required: true
          description: Size of each statistical interval (UTC bucket boundaries)
          schema:
            $ref: '#/components/schemas/StatGranularity'
          example: WEEK
        - name: from
          in: query
          required: false
          description: Inclusive start of the query window (ISO-8601 date-time)
          schema:
            type: string
            format: date-time
          example: "2025-03-01T00:00:00Z"
        - name: to
          in: query
          required: false
          description: Exclusive end of the query window (ISO-8601 date-time)
          schema:
            type: string
            format: date-time
          example: "2025-04-01T00:00:00Z"
        - name: limit
          in: query
          required: false
          description: Maximum number of interval rows to return per page
          schema:
            type: integer
            format: int64
            default: 5
          example: 5
        - name: offset
          in: query
          required: false
          description: Number of interval rows to skip before returning results
          schema:
            type: integer
            format: int64
            default: 0
          example: 0
      responses:
        '200':
          description: Paginated list of sentiment rollups per interval
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WftWsResultPageListSentimentIntervalStats'
              example:
                data:
                  - interval:
                      from: "2025-03-24T00:00:00Z"
                      to: "2025-03-31T00:00:00Z"
                    sentiment:
                      avgScore: 0.38
                      variance: 0.09
                      sampleCount: 215
                      segmentCount: 1
                errors: []
                metadata:
                  currentOffset: 0
                  totalCount: 6

  /user-feeds/{id}/stats/emotions:
    get:
      tags:
        - feed-controller
      summary: Emotion-only statistics for a user feed by time bucket
      description: |
        Same time bucketing and query parameters as `GET /user-feeds/{id}/stats`, but each item lists **emotion** rollups
        only (no combined sentiment summary object). Use this when building per-emotion trend charts.
      operationId: getUserFeedEmotionStats
      parameters:
        - name: id
          in: path
          required: true
          description: Unique identifier of the user feed
          schema:
            type: string
          example: f1a2b3c4-d5e6-7890-abcd-ef1234567890
        - name: granularity
          in: query
          required: true
          description: Size of each statistical interval (UTC bucket boundaries)
          schema:
            $ref: '#/components/schemas/StatGranularity'
          example: HOUR
        - name: from
          in: query
          required: false
          description: Inclusive start of the query window (ISO-8601 date-time)
          schema:
            type: string
            format: date-time
          example: "2025-04-07T12:00:00Z"
        - name: to
          in: query
          required: false
          description: Exclusive end of the query window (ISO-8601 date-time)
          schema:
            type: string
            format: date-time
          example: "2025-04-07T18:00:00Z"
        - name: limit
          in: query
          required: false
          description: Maximum number of interval rows to return per page
          schema:
            type: integer
            format: int64
            default: 5
          example: 24
        - name: offset
          in: query
          required: false
          description: Number of interval rows to skip before returning results
          schema:
            type: integer
            format: int64
            default: 0
          example: 0
      responses:
        '200':
          description: Paginated list of per-emotion rollups per interval
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WftWsResultPageListEmotionIntervalStats'
              example:
                data:
                  - interval:
                      from: "2025-04-07T12:00:00Z"
                      to: "2025-04-07T13:00:00Z"
                    emotions:
                      - emotion: HAPPINESS
                        avgScore: 0.58
                        variance: 0.03
                        sampleCount: 22
                        segmentCount: 1
                      - emotion: SURPRISE
                        avgScore: 0.21
                        variance: 0.11
                        sampleCount: 9
                        segmentCount: 1
                errors: []
                metadata:
                  currentOffset: 0
                  totalCount: 12

  /platform-feeds:
    post:
      tags:
        - feed-controller
      summary: Create a new platform feed
      description: |
        Creates a new platform-scoped sentiment analysis feed. Platform feeds are shared across users
        and are suitable for organization-wide tracking of sentiment streams.
      operationId: createPlatformFeed
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateFeedRequest'
            examples:
              basic:
                summary: Create a platform feed for social media monitoring
                value:
                  name: twitter-brand-mentions
                  description: Platform-wide sentiment tracking for Twitter brand mentions
                  maxSize: 5000
      responses:
        '200':
          description: Platform feed created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WftWsResultSentimentAnalysisFeedVoid'
              example:
                data:
                  id: c3d4e5f6-a7b8-9012-cdef-ab1234567890
                  name: twitter-brand-mentions
                  description: Platform-wide sentiment tracking for Twitter brand mentions
                  size: 0
                  maxSize: 5000
                errors: []

  /platform-feeds/{id}:
    get:
      tags:
        - feed-controller
      summary: Retrieve a platform feed
      description: |
        Fetches the details of a platform-scoped feed by its ID, including name, description, current size, and maximum size.
      operationId: getPlatformFeed
      parameters:
        - name: id
          in: path
          required: true
          description: Unique identifier of the platform feed
          schema:
            type: string
          example: c3d4e5f6-a7b8-9012-cdef-ab1234567890
      responses:
        '200':
          description: Platform feed details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WftWsResultSentimentAnalysisFeedVoid'
              example:
                data:
                  id: c3d4e5f6-a7b8-9012-cdef-ab1234567890
                  name: twitter-brand-mentions
                  description: Platform-wide sentiment tracking for Twitter brand mentions
                  size: 128
                  maxSize: 5000
                errors: []
    put:
      tags:
        - feed-controller
      summary: Update a platform feed
      description: |
        Updates the mutable properties of a platform-scoped feed. Currently supports updating the feed description.
      operationId: updatePlatformFeed
      parameters:
        - name: id
          in: path
          required: true
          description: Unique identifier of the platform feed to update
          schema:
            type: string
          example: c3d4e5f6-a7b8-9012-cdef-ab1234567890
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateFeedRequest'
            examples:
              updateDescription:
                summary: Update the platform feed description
                value:
                  description: Updated platform-wide tracking for Twitter brand mentions (includes retweets)
      responses:
        '200':
          description: Platform feed updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WftWsResultSentimentAnalysisFeedVoid'
              example:
                data:
                  id: c3d4e5f6-a7b8-9012-cdef-ab1234567890
                  name: twitter-brand-mentions
                  description: Updated platform-wide tracking for Twitter brand mentions (includes retweets)
                  size: 128
                  maxSize: 5000
                errors: []

  /platform-feeds/{id}/analyses:
    get:
      tags:
        - feed-controller
      summary: List analyses for a platform feed
      description: |
        Returns a paginated list of sentiment analysis results associated with the specified platform feed.
        Supports pagination via `limit` and `offset`, and sorting via the `sort` parameter.
      operationId: getPlatformFeedAnalyses
      parameters:
        - name: id
          in: path
          required: true
          description: Unique identifier of the platform feed
          schema:
            type: string
          example: c3d4e5f6-a7b8-9012-cdef-ab1234567890
        - name: limit
          in: query
          required: false
          description: Maximum number of results to return per page
          schema:
            type: integer
            format: int64
            default: 5
          example: 10
        - name: offset
          in: query
          required: false
          description: Number of results to skip before returning (for pagination)
          schema:
            type: integer
            format: int64
            default: 0
          example: 0
        - name: sort
          in: query
          required: false
          description: Sort order for results (e.g., `sentimentScore,desc`)
          schema:
            type: string
          example: sentimentScore,desc
      responses:
        '200':
          description: Paginated list of sentiment analysis results for the platform feed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WftWsResultPageListSentimentAnalysis'
              example:
                data:
                  - id: d4e5f6a7-b8c9-0123-defg-bc2345678901
                    sentiment: POSITIVE
                    sentimentScore: 0.72
                    emotionScores:
                      - emotion: HAPPINESS
                        score: 0.68
                    rationale: Generally positive tone with brand endorsement language
                  - id: e5f6a7b8-c9d0-1234-efgh-cd3456789012
                    sentiment: NEUTRAL
                    sentimentScore: 0.05
                    emotionScores:
                      - emotion: ANTICIPATION
                        score: 0.35
                    rationale: Factual mention with no strong sentiment indicators
                errors: []
                metadata:
                  currentOffset: 0
                  totalCount: 128
    post:
      tags:
        - analysis-controller
      summary: Submit text for analysis within a platform feed
      description: |
        Submits text for sentiment analysis and associates the result with the specified platform feed.

        Behavior is controlled by the **X-WFT-Async-Mode** header:

        - `true` (default): Processing is asynchronous. The API immediately returns a job ID.
        - `false`: Processing is synchronous. The API waits for the analysis to complete and returns the final result.
      operationId: analyzeTextForPlatformFeedAsync
      parameters:
        - name: id
          in: path
          required: true
          description: Unique identifier of the platform feed to associate the analysis with
          schema:
            type: string
          example: c3d4e5f6-a7b8-9012-cdef-ab1234567890
        - name: X-WFT-Async-Mode
          in: header
          description: Controls whether the request is processed asynchronously (`true`, default) or synchronously (`false`).
          schema:
            $ref: '#/components/schemas/AsyncModeHeaderValue'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AnalyzeTextRequest'
            examples:
              feedAnalysis:
                summary: Analyze text within a platform feed
                value:
                  text: "Just tried the new release – smooth experience overall, impressed with the speed improvements."
      responses:
        '200':
          description: Analysis job created or completed result returned, depending on async mode
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/WftWsResultSentimentAnalysisVoid'
                  - $ref: '#/components/schemas/WftWsResultPayloadSentimentAnalysisJobMetadata'
              examples:
                async:
                  summary: Asynchronous mode (X-WFT-Async-Mode=true or omitted)
                  value:
                    data:
                      jobId: 5bc06a75-7928-5673-d4gd-4ea74g88cgc8
                    errors: []
                sync:
                  summary: Synchronous mode (X-WFT-Async-Mode=false)
                  value:
                    data:
                      intent: PRAISE
                      intentScore: 0.82
                      sentiment: POSITIVE
                      sentimentScore: 0.76
                      emotionScores:
                        - emotion: HAPPINESS
                          score: 0.71
                        - emotion: SURPRISE
                          score: 0.38
                      rationale: Positive language including 'smooth', 'impressed', 'improvements'
                    errors: []

  /platform-feeds/{id}/analyses/{analysisId}:
    delete:
      tags:
        - feed-controller
      summary: Delete an analysis from a platform feed
      description: |
        Removes a specific sentiment analysis result from the specified platform feed. This operation is irreversible.
      operationId: deletePlatformFeedAnalysis
      parameters:
        - name: id
          in: path
          required: true
          description: Unique identifier of the platform feed
          schema:
            type: string
          example: c3d4e5f6-a7b8-9012-cdef-ab1234567890
        - name: analysisId
          in: path
          required: true
          description: Unique identifier (UUID) of the analysis result to delete
          schema:
            type: string
          example: d4e5f6a7-b8c9-0123-defg-bc2345678901
      responses:
        '200':
          description: Analysis deleted successfully
          content:
            '*/*':
              schema:
                type: object
              example: {}

  /platform-feeds/{id}/stats:
    get:
      tags:
        - feed-controller
      summary: Aggregate platform-feed statistics by time bucket
      description: |
        Returns a paginated list of time-bucketed rollups for the specified platform feed. Each item includes interval
        bounds (UTC), aggregate **sentiment** statistics, and per-**emotion** rollups for that interval.

        Use **granularity** for bucket size, optional **from** / **to** to bound the window, and **limit** / **offset**
        for pagination—the same semantics as the user-feed stats endpoints.
      operationId: getPlatformFeedStats
      parameters:
        - name: id
          in: path
          required: true
          description: Unique identifier of the platform feed
          schema:
            type: string
          example: c3d4e5f6-a7b8-9012-cdef-ab1234567890
        - name: granularity
          in: query
          required: true
          description: Size of each statistical interval (UTC bucket boundaries)
          schema:
            $ref: '#/components/schemas/StatGranularity'
          example: DAY
        - name: from
          in: query
          required: false
          description: Inclusive start of the query window (ISO-8601 date-time)
          schema:
            type: string
            format: date-time
          example: "2025-04-01T00:00:00Z"
        - name: to
          in: query
          required: false
          description: Exclusive end of the query window (ISO-8601 date-time)
          schema:
            type: string
            format: date-time
          example: "2025-04-08T00:00:00Z"
        - name: limit
          in: query
          required: false
          description: Maximum number of interval rows to return per page
          schema:
            type: integer
            format: int64
            default: 5
          example: 10
        - name: offset
          in: query
          required: false
          description: Number of interval rows to skip before returning results
          schema:
            type: integer
            format: int64
            default: 0
          example: 0
      responses:
        '200':
          description: Paginated list of combined sentiment and emotion rollups per interval
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WftWsResultPageListFeedIntervalStats'
              example:
                data:
                  - interval:
                      from: "2025-04-07T00:00:00Z"
                      to: "2025-04-08T00:00:00Z"
                    sentiment:
                      avgScore: 0.65
                      variance: 0.05
                      sampleCount: 512
                      segmentCount: 1
                    emotions:
                      - emotion: HAPPINESS
                        avgScore: 0.55
                        variance: 0.04
                        sampleCount: 512
                        segmentCount: 1
                      - emotion: ANTICIPATION
                        avgScore: 0.28
                        variance: 0.07
                        sampleCount: 140
                        segmentCount: 1
                errors: []
                metadata:
                  currentOffset: 0
                  totalCount: 22

  /platform-feeds/{id}/stats/sentiment:
    get:
      tags:
        - feed-controller
      summary: Sentiment-only statistics for a platform feed by time bucket
      description: |
        Same behavior as `GET /platform-feeds/{id}/stats`, but each row contains only the overall **sentiment** rollup
        for the interval (no per-emotion array).
      operationId: getPlatformFeedSentimentStats
      parameters:
        - name: id
          in: path
          required: true
          description: Unique identifier of the platform feed
          schema:
            type: string
          example: c3d4e5f6-a7b8-9012-cdef-ab1234567890
        - name: granularity
          in: query
          required: true
          description: Size of each statistical interval (UTC bucket boundaries)
          schema:
            $ref: '#/components/schemas/StatGranularity'
          example: MONTH
        - name: from
          in: query
          required: false
          description: Inclusive start of the query window (ISO-8601 date-time)
          schema:
            type: string
            format: date-time
        - name: to
          in: query
          required: false
          description: Exclusive end of the query window (ISO-8601 date-time)
          schema:
            type: string
            format: date-time
        - name: limit
          in: query
          required: false
          description: Maximum number of interval rows to return per page
          schema:
            type: integer
            format: int64
            default: 5
        - name: offset
          in: query
          required: false
          description: Number of interval rows to skip before returning results
          schema:
            type: integer
            format: int64
            default: 0
      responses:
        '200':
          description: Paginated list of sentiment rollups per interval
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WftWsResultPageListSentimentIntervalStats'
              example:
                data:
                  - interval:
                      from: "2025-03-01T00:00:00Z"
                      to: "2025-04-01T00:00:00Z"
                    sentiment:
                      avgScore: 0.41
                      variance: 0.07
                      sampleCount: 4021
                      segmentCount: 1
                errors: []
                metadata:
                  currentOffset: 0
                  totalCount: 3

  /platform-feeds/{id}/stats/emotions:
    get:
      tags:
        - feed-controller
      summary: Emotion-only statistics for a platform feed by time bucket
      description: |
        Same behavior as `GET /platform-feeds/{id}/stats`, but each row lists **emotion** rollups only—ideal when you
        plot several emotions independently across time.
      operationId: getPlatformFeedEmotionStats
      parameters:
        - name: id
          in: path
          required: true
          description: Unique identifier of the platform feed
          schema:
            type: string
          example: c3d4e5f6-a7b8-9012-cdef-ab1234567890
        - name: granularity
          in: query
          required: true
          description: Size of each statistical interval (UTC bucket boundaries)
          schema:
            $ref: '#/components/schemas/StatGranularity'
          example: DAY
        - name: from
          in: query
          required: false
          description: Inclusive start of the query window (ISO-8601 date-time)
          schema:
            type: string
            format: date-time
        - name: to
          in: query
          required: false
          description: Exclusive end of the query window (ISO-8601 date-time)
          schema:
            type: string
            format: date-time
        - name: limit
          in: query
          required: false
          description: Maximum number of interval rows to return per page
          schema:
            type: integer
            format: int64
            default: 5
        - name: offset
          in: query
          required: false
          description: Number of interval rows to skip before returning results
          schema:
            type: integer
            format: int64
            default: 0
      responses:
        '200':
          description: Paginated list of per-emotion rollups per interval
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WftWsResultPageListEmotionIntervalStats'
              example:
                data:
                  - interval:
                      from: "2025-04-07T00:00:00Z"
                      to: "2025-04-08T00:00:00Z"
                    emotions:
                      - emotion: HAPPINESS
                        avgScore: 0.62
                        variance: 0.03
                        sampleCount: 301
                        segmentCount: 1
                      - emotion: DISGUST
                        avgScore: 0.08
                        variance: 0.01
                        sampleCount: 44
                        segmentCount: 1
                errors: []
                metadata:
                  currentOffset: 0
                  totalCount: 22

  /system/jobs/{id}:
    get:
      tags:
        - job
      summary: Retrieve full job details
      description: |
        Returns the complete state of an asynchronous job, including status, owner information,
        progress tracking, and result ID (if the job has succeeded).
      operationId: getJob
      parameters:
        - name: id
          in: path
          required: true
          description: UUID of the job returned when the analysis was submitted
          schema:
            type: string
          example: 3fa85f64-5717-4562-b3fc-2c963f66afa6
      responses:
        '200':
          description: Full job state details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WftWsResultSysJobStateVoid'
              example:
                data:
                  type: SENTIMENT_ANALYSIS
                  resultId: a1b2c3d4-e5f6-7890-g1h2-i3j4k5l6m7n8
                  status: SUCCEEDED
                  owner:
                    tenantId: tenant-001
                    userId: user-abc
                  progressTracking:
                    overallProgress:
                      percentCompleted: 100.0
                errors: []

  /system/jobs/{id}/status:
    get:
      tags:
        - job
      summary: Get job processing status
      description: |
        Returns the current status of an asynchronous job (PENDING, PROCESSING, SUCCEEDED, FAILED, CANCELED).
        On success, also returns the result ID.
      operationId: getJobStatus
      parameters:
        - name: id
          in: path
          required: true
          description: UUID of the job returned when the analysis was submitted
          schema:
            type: string
          example: 3fa85f64-5717-4562-b3fc-2c963f66afa6
      responses:
        '200':
          description: Current job status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WftWsResultPayloadVoid'
              examples:
                pending:
                  summary: Job is still pending
                  value:
                    data:
                      jobId: 3fa85f64-5717-4562-b3fc-2c963f66afa6
                    errors: []
                succeeded:
                  summary: Job has completed successfully
                  value:
                    data:
                      jobId: 3fa85f64-5717-4562-b3fc-2c963f66afa6
                    errors: []

  /system/encryption/info/public-key.pem:
    get:
      tags:
        - encryption
      summary: Download the public key in PEM format
      description: |
        Returns the platform's current RSA public key in PEM-encoded format. Use this key to encrypt
        sensitive payloads before submitting them to the API.
      operationId: getPublicKeyPem
      responses:
        '200':
          description: PEM-encoded public key
          content:
            text/plain:
              schema:
                type: string
              example: |
                -----BEGIN PUBLIC KEY-----
                MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEA...
                -----END PUBLIC KEY-----

  /system/encryption/info/certificate.pem:
    get:
      tags:
        - encryption
      summary: Download the certificate in PEM format
      description: |
        Returns the platform's current X.509 certificate in PEM-encoded format. The certificate
        can be used to verify the identity of the API and validate signed responses.
      operationId: getCertificatePem
      responses:
        '200':
          description: PEM-encoded certificate
          content:
            text/plain:
              schema:
                type: string
              example: |
                -----BEGIN CERTIFICATE-----
                MIIDdzCCAl+gAwIBAgIEbGlua0ANBQ...
                -----END CERTIFICATE-----

  /system/encryption/info:
    get:
      tags:
        - encryption
      summary: Retrieve encryption metadata
      description: |
        Returns metadata about the platform's current encryption configuration, including the public key,
        certificate, SHA-256 fingerprint, and key expiration date.
      operationId: getEncryptionInfo
      responses:
        '200':
          description: Encryption configuration metadata
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WftWsResultPublicKeyInfoVoid'
              example:
                data:
                  keyPem: "-----BEGIN PUBLIC KEY-----\nMIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8A...\n-----END PUBLIC KEY-----"
                  certificatePem: "-----BEGIN CERTIFICATE-----\nMIIDdzCCAl+gAwIBAgIEbGlua0ANBQ...\n-----END CERTIFICATE-----"
                  fingerprintSha256: "AB:CD:EF:12:34:56:78:90:AB:CD:EF:12:34:56:78:90:AB:CD:EF:12:34:56:78:90:AB:CD:EF:12:34:56:78:90"
                  expires: "2026-12-31T23:59:59Z"
                errors: []

components:
  schemas:
    AnalysisDomain:
      type: string
      description: |
        Selects the sentiment analysis model and output shape for this request.

        - **GENERAL** (default when omitted): Full analysis—sentiment label, confidence, primary emotions, rationale,
          and intent. Use for social posts, reviews, support tickets, and general text.
        - **FINANCIAL_NEWS**: Polarity-focused output for market tone (e.g. earnings, upgrades). Returns only sentiment
          label and confidence; emotions, rationale, and intent are omitted.
      enum:
        - GENERAL
        - FINANCIAL_NEWS

    AsyncModeHeaderValue:
      type: string
      description: |
        Value for the `X-WFT-Async-Mode` header on analysis `POST` operations that map to the async controller variant.
        Send **`true`** to request asynchronous processing (initial response contains a job id; poll job endpoints for results).
        For synchronous processing, omit this header or call the operation variant documented for synchronous bodies—see each path’s description.
      enum:
        - 'true'

    AnalyzeTextRequest:
      type: object
      description: Request payload for submitting text for sentiment analysis
      required:
        - text
      properties:
        correlationId:
          type: string
          maxLength: 128
          minLength: 0
          description: Optional client-provided identifier for correlating requests with external systems
        domain:
          $ref: '#/components/schemas/AnalysisDomain'
        text:
          type: string
          description: The text to analyze. Must be valid UTF-8. Supports all languages.
          minLength: 1
          example: This product changed my life – highly recommend!
        timestamp:
          type: string
          format: date-time
          description: Optional timestamp of the original text (e.g., when a review was posted). Defaults to the current time if omitted.
        topic:
          type: string
          maxLength: 512
          minLength: 0
          description: Optional topic or subject label to categorize the analysis
        weight:
          type: number
          format: double
          description: Optional weight to assign to this analysis entry within a feed (e.g., for weighted averages)

    CreateFeedRequest:
      type: object
      description: Request payload for creating a new sentiment analysis feed
      required:
        - name
      properties:
        id:
          type: string
          description: Optional client-provided identifier for the feed. If omitted, a UUID is generated automatically.
        name:
          type: string
          minLength: 1
          description: Human-readable name for the feed
        description:
          type: string
          description: Optional description of the feed's purpose or scope
        maxSize:
          type: integer
          format: int32
          minimum: 1
          description: Maximum number of analysis entries the feed can hold. Oldest entries may be evicted when the limit is reached.

    UpdateFeedRequest:
      type: object
      description: Request payload for updating an existing sentiment analysis feed
      properties:
        description:
          type: string
          description: Updated description of the feed's purpose or scope

    SentimentAnalysisFeed:
      type: object
      description: Represents a sentiment analysis feed used for grouping and tracking analyses
      properties:
        id:
          type: string
          description: Unique identifier of the feed
        name:
          type: string
          description: Human-readable name of the feed
        description:
          type: string
          description: Description of the feed's purpose or scope
        size:
          type: integer
          format: int32
          description: Current number of analysis entries in the feed
        maxSize:
          type: integer
          format: int32
          description: Maximum number of analysis entries the feed can hold

    Payload:
      type: object
      description: Contains the job ID returned after submission
      properties:
        jobId:
          type: string
          format: uuid
          description: Unique identifier of the created analysis job
          example: 3fa85f64-5717-4562-b3fc-2c963f66afa6

    SentimentAnalysisJobMetadata:
      type: object
      description: Metadata about a submitted sentiment analysis job
      properties:
        submittedTextLength:
          type: integer
          format: int32
          description: Character length of the submitted text

    PublicKeyInfo:
      type: object
      description: Encryption key and certificate metadata for the platform
      properties:
        certificatePem:
          type: string
          description: X.509 certificate in PEM-encoded format
        keyPem:
          type: string
          description: RSA public key in PEM-encoded format
        fingerprintSha256:
          type: string
          description: SHA-256 fingerprint of the certificate
        expires:
          type: string
          format: date-time
          description: Expiration date of the certificate

    WftError:
      type: object
      description: Represents an error returned by the API
      discriminator:
        propertyName: type
      required:
        - type
      properties:
        recoverable:
          type: boolean
          description: Indicates whether the error is recoverable (e.g., retryable)
        type:
          type: string
          description: Machine-readable error identifier
        message:
          type: string
          description: Human-readable error message
        details:
          type: object
          description: Additional context or validation errors

    WftWsResultSentimentAnalysisFeedVoid:
      type: object
      description: Standard wrapper for a sentiment analysis feed result
      properties:
        data:
          $ref: '#/components/schemas/SentimentAnalysisFeed'
        errors:
          type: array
          items:
            $ref: '#/components/schemas/WftError'
        metadata: {}

    WftWsResultPayloadVoid:
      type: object
      description: Standard success response containing a job ID
      properties:
        data:
          $ref: '#/components/schemas/Payload'
        errors:
          type: array
          items:
            $ref: '#/components/schemas/WftError'
        metadata: {}

    WftWsResultPayloadSentimentAnalysisJobMetadata:
      type: object
      description: Standard success response containing a job ID with sentiment analysis job metadata
      properties:
        data:
          $ref: '#/components/schemas/Payload'
        errors:
          type: array
          items:
            $ref: '#/components/schemas/WftError'
        metadata:
          $ref: '#/components/schemas/SentimentAnalysisJobMetadata'

    WftWsResultPublicKeyInfoVoid:
      type: object
      description: Standard wrapper for encryption key and certificate metadata
      properties:
        data:
          $ref: '#/components/schemas/PublicKeyInfo'
        errors:
          type: array
          items:
            $ref: '#/components/schemas/WftError'
        metadata: {}

    EmotionLabel:
      type: string
      description: |
        Plutchik-style primary emotion label used in `emotionScores` and in feed statistics rollups.
        Values align with the API’s emotion taxonomy (see product contract).
      enum:
        - HAPPINESS
        - SADNESS
        - FEAR
        - ANGER
        - SURPRISE
        - DISGUST
        - CONTEMPT
        - ANTICIPATION

    EmotionScore:
      type: object
      description: A detected emotion with its confidence score
      properties:
        emotion:
          $ref: '#/components/schemas/EmotionLabel'
        score:
          type: number
          format: double
          minimum: 0
          maximum: 1
          description: Confidence that this emotion is present (0.0 = not present, 1.0 = strongly present)
        schema:
          $ref: '#/components/schemas/Schema'
        specificData:
          $ref: '#/components/schemas/SpecificData'

    EmotionIntervalStats:
      type: object
      description: Per-interval emotion rollup statistics for a feed (no combined sentiment summary)
      properties:
        interval:
          $ref: '#/components/schemas/IntervalBounds'
        emotions:
          type: array
          description: Rollup statistics for each detected emotion in this interval
          items:
            $ref: '#/components/schemas/EmotionRollupStats'

    EmotionRollupStats:
      type: object
      description: Aggregate statistics for a single emotion label within a time bucket
      properties:
        emotion:
          $ref: '#/components/schemas/EmotionLabel'
        avgScore:
          type: number
          format: double
          description: Mean score for this emotion in the interval
        variance:
          type: number
          format: double
          description: Variance of scores across samples in the interval
        sampleCount:
          type: integer
          format: int64
          description: Number of underlying emotion score samples
        segmentCount:
          type: integer
          format: int64
          description: Number of segments or buckets aggregated into this rollup

    FeedIntervalStats:
      type: object
      description: Full combined rollup for one time bucket—overall sentiment plus per-emotion breakdown
      properties:
        interval:
          $ref: '#/components/schemas/IntervalBounds'
        sentiment:
          $ref: '#/components/schemas/RollupStats'
        emotions:
          type: array
          description: Per-emotion rollups for the same interval
          items:
            $ref: '#/components/schemas/EmotionRollupStats'

    IntervalBounds:
      type: object
      description: UTC half-open interval `[from, to)` for a statistics bucket
      properties:
        from:
          type: string
          format: date-time
          description: Inclusive start of the interval
        to:
          type: string
          format: date-time
          description: Exclusive end of the interval

    RollupStats:
      type: object
      description: Numeric rollup (mean, variance, counts) over sentiment scores or emotion scores in an interval
      properties:
        avgScore:
          type: number
          format: double
          description: Mean normalized score in the bucket
        variance:
          type: number
          format: double
          description: Variance of scores in the bucket
        sampleCount:
          type: integer
          format: int64
          description: Number of score samples contributing to the rollup
        segmentCount:
          type: integer
          format: int64
          description: Number of logical segments aggregated (implementation-specific)

    SentimentIntervalStats:
      type: object
      description: Per-interval overall sentiment rollup only (no per-emotion list)
      properties:
        interval:
          $ref: '#/components/schemas/IntervalBounds'
        sentiment:
          $ref: '#/components/schemas/RollupStats'

    StatGranularity:
      type: string
      description: |
        Allowed values for the `granularity` query parameter on feed statistics endpoints. Each value selects the
        width of a UTC-aligned time bucket used to aggregate sentiment and emotion scores.

        - **HOUR** — one bucket per clock hour
        - **DAY** — one bucket per calendar day
        - **WEEK** — one bucket per calendar week
        - **MONTH** — one bucket per calendar month
        - **ALL** — a single bucket spanning the entire requested (or available) range
      enum:
        - HOUR
        - DAY
        - WEEK
        - MONTH
        - ALL

    IntentCategory:
      type: string
      description: |
        High-level intent inferred from the submitted text (e.g. praise vs complaint). The classifier may return
        **UNKNOWN** when intent is unclear.
      enum:
        - COMPLAINT
        - PRAISE
        - INQUIRY
        - SUGGESTION
        - REQUEST
        - NEUTRAL
        - UNKNOWN

    SentimentCategory:
      type: string
      description: |
        Discrete overall sentiment label. **MIXED** indicates strongly conflicting signals; **UNCERTAIN** indicates
        low confidence or borderline polarity.
      enum:
        - VERY_NEGATIVE
        - NEGATIVE
        - SLIGHTLY_NEGATIVE
        - NEUTRAL
        - SLIGHTLY_POSITIVE
        - POSITIVE
        - VERY_POSITIVE
        - MIXED
        - UNCERTAIN

    SentimentAnalysis:
      type: object
      description: Complete result of sentiment analysis
      properties:
        id:
          type: string
          description: Unique identifier (UUID) of this analysis result
        intent:
          $ref: '#/components/schemas/IntentCategory'
        intentScore:
          type: number
          format: double
          description: Confidence score for the detected intent (0.0 – 1.0)
        sentiment:
          $ref: '#/components/schemas/SentimentCategory'
        sentimentScore:
          type: number
          format: double
          minimum: -1
          maximum: 1
          description: Normalized sentiment polarity score (-1.0 = very negative, +1.0 = very positive)
        emotionScores:
          type: array
          description: Per-emotion confidence scores
          items:
            $ref: '#/components/schemas/EmotionScore'
        rationale:
          type: string
          description: Human-readable explanation of the sentiment decision (optional)
        inputTimestamp:
          type: string
          format: date-time
          description: Timestamp of the original input text (if provided in the request)
        schema:
          $ref: '#/components/schemas/Schema'
        specificData:
          $ref: '#/components/schemas/SpecificData'

    WftWsResultSentimentAnalysisVoid:
      type: object
      description: Standard wrapper for a completed sentiment analysis result
      properties:
        data:
          $ref: '#/components/schemas/SentimentAnalysis'
        errors:
          type: array
          items:
            $ref: '#/components/schemas/WftError'
        metadata: {}

    WftWsResultPageListSentimentAnalysis:
      type: object
      description: Paginated list of sentiment analysis results with collection metadata and navigation links
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/SentimentAnalysis'
        errors:
          type: array
          items:
            $ref: '#/components/schemas/WftError'
        metadata:
          $ref: '#/components/schemas/WftWsCollectionResultMeta'
        links:
          type: array
          items:
            $ref: '#/components/schemas/Link'

    WftWsResultPageListEmotionIntervalStats:
      type: object
      description: Paginated list of emotion-only interval statistics with collection metadata and navigation links
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/EmotionIntervalStats'
        errors:
          type: array
          items:
            $ref: '#/components/schemas/WftError'
        metadata:
          $ref: '#/components/schemas/WftWsCollectionResultMeta'
        links:
          type: array
          items:
            $ref: '#/components/schemas/Link'

    WftWsResultPageListFeedIntervalStats:
      type: object
      description: Paginated list of combined feed interval statistics (sentiment + emotions) with collection metadata and navigation links
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/FeedIntervalStats'
        errors:
          type: array
          items:
            $ref: '#/components/schemas/WftError'
        metadata:
          $ref: '#/components/schemas/WftWsCollectionResultMeta'
        links:
          type: array
          items:
            $ref: '#/components/schemas/Link'

    WftWsResultPageListSentimentIntervalStats:
      type: object
      description: Paginated list of sentiment-only interval statistics with collection metadata and navigation links
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/SentimentIntervalStats'
        errors:
          type: array
          items:
            $ref: '#/components/schemas/WftError'
        metadata:
          $ref: '#/components/schemas/WftWsCollectionResultMeta'
        links:
          type: array
          items:
            $ref: '#/components/schemas/Link'

    WftWsCollectionResultMeta:
      type: object
      description: Pagination metadata for collection results
      properties:
        currentOffset:
          type: integer
          format: int64
          description: The current offset position in the result set
        totalCount:
          type: integer
          format: int64
          description: Total number of items matching the query

    Link:
      type: object
      description: Hypermedia link for navigating paginated results
      properties:
        href:
          type: string
          description: The URL of the linked resource
        hreflang:
          type: string
          description: Language of the linked resource
        title:
          type: string
          description: Human-readable title for the link
        type:
          type: string
          description: Media type of the linked resource
        deprecation:
          type: string
          description: URL indicating the deprecation status of the link
        profile:
          type: string
          description: URI of the profile describing the linked resource
        name:
          type: string
          description: Name of the link relation
        templated:
          type: boolean
          description: Whether the href is a URI template

    ConversionObject:
      type: object
      description: Describes a logical type conversion mapping
      properties:
        logicalTypeName:
          type: string
          description: Name of the logical type
        recommendedSchema:
          $ref: '#/components/schemas/Schema'

    FastReaderBuilder:
      type: object
      description: Configuration for the fast reader builder
      properties:
        keyClassEnabled:
          type: boolean
          description: Whether key class optimization is enabled
        classPropEnabled:
          type: boolean
          description: Whether class property optimization is enabled

    Field:
      type: object
      description: Represents a field in an Avro schema
      properties:
        objectProps:
          type: object
          additionalProperties: {}
          description: Additional properties associated with the field

    LogicalType:
      type: object
      description: Represents an Avro logical type
      properties:
        name:
          type: string
          description: Name of the logical type (e.g., date, timestamp-millis)

    AvroSchemaKind:
      type: string
      description: |
        Avro `type` discriminator carried on serialized analysis payloads. **RECORD** / complex kinds describe nested schema
        graphs; primitive kinds (**STRING**, **INT**, etc.) appear when the logical value is wrapped in Avro metadata.
      enum:
        - RECORD
        - ENUM
        - ARRAY
        - MAP
        - UNION
        - FIXED
        - STRING
        - BYTES
        - INT
        - LONG
        - FLOAT
        - DOUBLE
        - BOOLEAN
        - 'NULL'

    Schema:
      type: object
      description: Avro schema definition
      properties:
        type:
          $ref: '#/components/schemas/AvroSchemaKind'
        logicalType:
          $ref: '#/components/schemas/LogicalType'
        enumSymbols:
          type: array
          items:
            type: string
          description: List of symbols for ENUM types
        fixedSize:
          type: integer
          format: int32
          description: Size in bytes for FIXED types
        union:
          type: boolean
          description: Whether this schema is a union type
        doc:
          type: string
          description: Documentation string for the schema
        enumDefault:
          type: string
          description: Default value for ENUM types
        nullable:
          type: boolean
          description: Whether the schema allows null values
        valueType: {}
        types:
          type: array
          items: {}
          description: Types within a union schema
        elementType: {}
        namespace:
          type: string
          description: Namespace of the schema
        aliases:
          type: array
          items:
            type: string
          uniqueItems: true
          description: Aliases for the schema name
        name:
          type: string
          description: Name of the schema
        fields:
          type: array
          items:
            $ref: '#/components/schemas/Field'
          description: Fields within a RECORD schema
        error:
          type: boolean
          description: Whether this schema represents an error type
        fullName:
          type: string
          description: Fully qualified name including namespace
        objectProps:
          type: object
          additionalProperties: {}
          description: Additional properties associated with the schema

    SpecificData:
      type: object
      description: Avro-specific data configuration and runtime metadata
      properties:
        classLoader:
          type: object
          description: Class loader information for the Avro runtime
          properties:
            name:
              type: string
            registeredAsParallelCapable:
              type: boolean
            unnamedModule:
              type: object
              properties:
                name:
                  type: string
                descriptor:
                  type: object
                  properties:
                    open:
                      type: boolean
                    automatic:
                      type: boolean
                named:
                  type: boolean
                annotations:
                  type: array
                  items: {}
                declaredAnnotations:
                  type: array
                  items: {}
                packages:
                  type: array
                  items:
                    type: string
                  uniqueItems: true
                nativeAccessEnabled:
                  type: boolean
                layer: {}
            definedPackages:
              type: array
              items:
                type: object
                properties:
                  name:
                    type: string
                  sealed:
                    type: boolean
                  annotations:
                    type: array
                    items: {}
                  declaredAnnotations:
                    type: array
                    items: {}
                  specificationTitle:
                    type: string
                  specificationVersion:
                    type: string
                  specificationVendor:
                    type: string
                  implementationTitle:
                    type: string
                  implementationVersion:
                    type: string
                  implementationVendor:
                    type: string
            defaultAssertionStatus:
              type: boolean
              writeOnly: true
        conversions:
          type: array
          items:
            $ref: '#/components/schemas/ConversionObject'
          description: List of logical type conversion mappings
        fastReaderEnabled:
          type: boolean
          description: Whether fast reader is enabled
        fastReaderBuilder:
          $ref: '#/components/schemas/FastReaderBuilder'
        customCoders:
          type: boolean
          writeOnly: true
          description: Whether custom coders are configured

    Progress:
      type: object
      description: Represents the progress state of a job stage
      properties:
        details: {}
        percentCompleted:
          type: number
          format: double
          description: Percentage of completion for this stage (0.0 – 100.0)
        stageId:
          $ref: '#/components/schemas/Stage'

    Stage:
      description: Identifier for a job processing stage
      type: object

    JobProcessingStatus:
      type: string
      description: |
        Lifecycle state of an asynchronous job returned by `/system/jobs/{id}` and related endpoints.
        Poll until **SUCCEEDED** (then read `resultId`) or **FAILED** / **CANCELED** for terminal error handling.
      enum:
        - CANCELED
        - FAILED
        - PENDING
        - PROCESSING
        - SUCCEEDED

    SysJobState:
      type: object
      description: Complete state of an asynchronous system job
      required:
        - owner
        - type
      properties:
        type:
          type: string
          description: Type of the job (e.g., SENTIMENT_ANALYSIS)
        resultId:
          type: string
          format: uuid
          description: UUID of the result produced by this job (available when status is SUCCEEDED)
        owner:
          $ref: '#/components/schemas/WftMtUser'
        progressTracking:
          $ref: '#/components/schemas/WftProgressTracking'
        status:
          $ref: '#/components/schemas/JobProcessingStatus'
        ownerId:
          type: string
          description: Identifier of the job owner
        tenantId:
          type: string
          description: Identifier of the tenant that owns this job

    WftMtUser:
      type: object
      description: Represents the owner of a job or resource
      properties:
        tenantId:
          type: string
          description: Identifier of the tenant
        userId:
          type: string
          description: Identifier of the user

    WftProgressTracking:
      type: object
      description: Tracks the progress of a multi-stage job
      properties:
        progressStack:
          type: array
          items:
            $ref: '#/components/schemas/Progress'
          description: Stack of progress entries for nested stages
        overallProgress:
          $ref: '#/components/schemas/Progress'

    WftWsResultSysJobStateVoid:
      type: object
      description: Standard wrapper for a system job state result
      properties:
        data:
          $ref: '#/components/schemas/SysJobState'
        errors:
          type: array
          items:
            $ref: '#/components/schemas/WftError'
        metadata: {}
